<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Configurações de Usuário para [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Configurações salvas!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">Nome</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Seu Nome"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            Nome obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Seu nome precisa ter no mínimo 1 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            Seu nome não pode ter mais de 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Sobrenome</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Seu Sobrenome"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Sobrenome obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Seu sobrenome precisa ter no mínimo 1 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Seu sobrenome não pode ter mais de 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Seu e-mail"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            E-mail obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            E-mail inválido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Seu E-mail precisa ter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Seu E-mail não pode ter mais de 100 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>

</div>
