<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Criação de agenda - Serra</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${user.login}">
            Prezado,
        </p>
        <p>
            Seu plantão não presencial foi alterado para o dia: 
        </p>
        
        <p th:text="${data}">
            Data
        </p>
        
        <p>Conte conosco!</p>
        
        <p>
            <span>Atenciosamente, </span>
            <br/>
            <em>Equipe Serra.</em>
        </p>
    </body>
</html>
