<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Serra - PesquisaAtendimento</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Prezado(a) cliente,
        </p>
        <p>
            Gostaríamos de saber como foi o atendimento do nosso corretor. Por favor acesse o link abaixo para responder.
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/pesquisa?idLead=${lead.id}|}"
               th:text="|${lead.responsavel.nome}|"></a>
        </p>
        <p>
            <span>Atenciosamente, </span>
            <br/>
            <em>Equipe Serra.</em>
        </p>
    </body>
</html>
