<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Criação de agenda - Serra</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${user.login}">
           Prezado,
        </p>
        <p>Parabéns pelas suas vendas!</p>
        <p>
           Segue as datas dos seus plantões Interurbanos. 
        </p>
        <p>Boas Vendas.</p>
        
	    <ul th:remove="all-but-first">
	      <li th:each="plantao : ${plantoes}" th:text="${plantao}"></li>
	    </ul>        
        
        
        <p>
            <span>Atenciosamente, </span>
            <br/>
            <em>Equipe Serra.</em>
        </p>
    </body>
</html>
