<div>
    <div id="example" class="modal-header">
	    <div id="team-schedule">
	        <div id="people">
	        </div>
	    </div>
	    <div id="scheduler"></div>
    </div>
    <div class="modal-footer" style="text-align: center;" has-authority="GERENCIA_INTERNA">
    <p>Confirme se os agendamentos foram feitos corretamente. Após a verificação, você poderá enviar um e-mail para todos os corretores selecionados para o plantão deste mês</p>
    	<jhi-alert></jhi-alert>
        <button type="button" id="irAgenda" class="btn btn-info" ng-click="enviarEmail();">
            <span class="glyphicon-calendar:before"></span><span>Notificar corretores e abrir o Mês</span>
        </button>
    </div>
</div>


