<!--  

PRIMEIRO PASSO - CONTATO

-->
<form name="abrirMesForm" role="form" novalidate ng-submit="abrirMes()" show-validation ng-if="passoAtual == 'CONFIGURACOES'">

    <div class="modal-header">
        <h4 class="modal-title">Passo 1 - Abrir o mês</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="table-responsive">
	        <table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Campo</th>
		                    <th>Valor</th>
		                </tr>
		            </thead>
		            <tbody>
			            <tr>
			                <td>
			                    <span>Período Inicial:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataInicio" name="dataInicio" ng-model="aberturaMensal.periodoInicial"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Período Final:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataFim" name="dataFim" ng-model="aberturaMensal.periodoFinal"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Abrir por usuário:</span>
			                </td>
			                <td>
								<div isteven-multi-select has-authority="SUPERVISAO" input-model="usuarios" output-model="usuariosOutput"
								    button-label="firstName" item-label="firstName" tick-property="selected" output-properties="idUser"
								    on-item-click="atribuir(data)" is-disabled="disableDirUser" orientation="horizontal" helper-elements="none filter">
								</div>
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Abrir por times:</span>
			                </td>
			                <td>
								<div isteven-multi-select has-authority="SUPERVISAO" input-model="times" output-model="timesOutput"
								    button-label="nome" item-label="nome" tick-property="selected" output-properties="id"
								    on-item-click="atribuirTime(data)" is-disabled="disableDirTime" helper-elements="none filter">
								</div>
			                </td>
   								<button type="button" id="desabilitarUser" ng-click="disableDirUser = true" style="display: none;"></button>
   								<button type="button" id="desabilitarTime" ng-click="disableDirTime = true" style="display: none;"></button>
			            </tr>
		            </tbody>
		        </table>
	    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ui-sref="calendario-view">
            <span class="glyphicon-calendar:before"></span><span>Agenda</span>
        </button>    
        <button type="submit" ng-disabled="contatoForm.$invalid" class="btn btn-primary" >
            <span class="glyphicon"></span><span>Próximo</span>
        </button>
    </div>
</form>

<!--  

SEGUNDO PASSO - LISTA COM NUMEROS DE PLANTOES

-->

<form name="negociacaoForm" role="form" novalidate ng-submit="gerar()" show-validation ng-if="passoAtual == 'LISTA'">
    <div class="modal-header">
        <h4 class="modal-title">Passo 2 - Definir quantidade de plantões</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>    
	    <div class="table-responsive">
	    	<br>
	        <table class="table table-striped">
	            <thead>
	            <tr>
	                <th>Usuário</th>
	                <th>Período Inicial</th>
	                <th>Período Final</th>
	                <th>Quantidade de plantões</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr ng-repeat="corretor in plantoesUsuarios track by corretor.vendedorSelecionado.idUser">
	            	<td><img ng-src="{{corretor.vendedorSelecionado.urlFoto}}"/> - {{corretor.vendedorSelecionado.firstName}}</td>
	            	<td>{{corretor.periodoInicial | date:'dd/MM/yy HH:mm'}}</td>
	            	<td>{{corretor.periodoFinal | date:'dd/MM/yy HH:mm'}}</td>
	                <td><input type="number" class="input-sm form-control" name="input" ng-model="corretor.quantidadePlantoes" max="20" min="1" required></td>
	            </tr>
	            </tbody>
	        </table>
	    </div>    
	</div>
    <div class="modal-footer">
        <button type="button" id="irAgenda" class="btn btn-info" ui-sref="calendario-view">
            <span class="glyphicon-calendar:before"></span><span>Agenda</span>
        </button>
        <button type="submit" ng-disabled="contatoForm.$invalid" class="btn btn-primary">
            <span class="glyphicon"></span><span>GERAR</span>
        </button>
    </div>	
</form>



