<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Resetar senha</h1>

            <div class="alert alert-danger" ng-show="vm.errorEmailNotExists">
                <strong>E-mail não está registrado!</strong> Verifique e tente novamente.
            </div>

            <div class="alert alert-warning" ng-hide="vm.success">
                <p>Insira o e-mail de cadastro.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success == 'OK'">
                <p>E-mail enviado! Verifique na sua caixa de entrada as diretrizes para resetar sua senha.</p>
            </div>

            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.requestReset()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Seu e-mail"
                           ng-model="vm.resetAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Seu e-mail é obrigatório.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Seu e-mail é inválido.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Seu e-mail deve ter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Seu e-mail não pode ser maior que 100 caracteres.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Resetar</button>
            </form>

        </div>
    </div>
</div>
