<div>
    <h2>Gerenciar Usuários</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" ui-sref="user-management.new">
              <span class="glyphicon glyphicon-flash"></span> <span>Cadastrar novo usuário</span>
          </button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th>
                <th><span>Foto</span></th>
                <th jh-sort-by="login"><span>Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="cargo"><span>Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="time"><span>Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="activated"><span>Status</span> <span class="glyphicon glyphicon-sort"></th>
                <th><span>Perfis</span></th>
                <th jh-sort-by="lastModifiedDate"><span>Última atualização</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.idUser">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.idUser}}</a></td>
                <td ng-if="user.existeFoto"><img ng-src="{{user.urlFoto}}"></img></td>
                <td ng-if="!user.existeFoto">-</td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.cargo.name}}</td>
                <td>{{user.time.nome}}</td>
                <td>
                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                          style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                          style="cursor: pointer;">Activated</span>
                </td>
                
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                       	<button type="button" title="Foto" class="btn btn-primary btn-sm">
	                        <span class="glyphicon glyphicon-camera" ng-click="carregarFoto(user)"></span>
	                    </button> 
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
