<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Cadastro de usuário</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   ng-model="vm.user.id" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                   ng-show="editForm.login.$error.required">
                    Este campo é obrigatório.
                </p>

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength"
                  >
                    Este campo não pode ter mais de 50 caracteres.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Nome</label>
            <input type="text" class="form-control" name="firstName"
                   ng-model="vm.user.firstName" ng-maxlength="50">

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                   ng-show="editForm.firstName.$error.maxlength"
                  >
                    Este campo não pode ter mais de 50 caracteres.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Sobrenome</label>
            <input type="text" class="form-control" name="lastName"
                   ng-model="vm.user.lastName" ng-maxlength="50">

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                   ng-show="editForm.lastName.$error.maxlength"
                  >
                    Este campo não pode ter mais de 50 caracteres.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email"
                   ng-model="vm.user.email" required ng-maxlength="100">

            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required">
                    Este campo é obrigatório.
                </p>

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                  >
                    Este campo não pode ter mais de 100 caracteres.
                </p>
				<p class="help-block"
                   ng-show="editForm.email.$error.email">
                    Seu e-mail é inválido
                 </p>
            </div>
        </div>
        <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf" required mask="999.999.999-99" clean="true"
                   ng-model="vm.user.cpf" ng-maxlength="15" maxlength="15">
            
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block" ng-show="editForm.cpf.$error.required">
                    Este campo é obrigatório.
                </p>
            </div>
        </div>        
        <div class="form-group">
            <label class="control-label">Time</label>
            <select class="form-control" name="time" ng-model="vm.user.time" 
                    ng-options="time as time.nome for time in vm.times track by time.id">
            </select>
            <div ng-show="editForm.time.$invalid">
                <p class="help-block" ng-show="editForm.time.$error.required">
                    Este campo é obrigatório.
                </p>
            </div>
        </div>      
        <div class="form-group">
            <label for="activated">
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.user.activated">
                <span>Ativo</span>
            </label>
        </div>

        <div class="form-group">
            <label>Nível de acesso</label>
            <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>
        <div class="form-group">
            <label>Cargo</label>
            <select class="form-control" name="cargo" ng-model="vm.user.cargo.name" ng-change="vm.prepararResponsaveis()"
                    ng-options="cargo for cargo in vm.cargos">
            </select>
        </div>        
		<div class="form-group" ng-if="vm.user.cargo.name == 'SUPERVISOR' || vm.user.cargo == 'VENDEDOR' || vm.user.cargo == 'GERENTE'">
            <label ng-show="vm.user.cargo == 'VENDEDOR'">Supervisor responsável</label>
            <label ng-show="vm.user.cargo != 'VENDEDOR'">Gerente responsável</label>
            <select class="form-control" name="responsavel" ng-model="vm.user.responsavel" required
                    ng-options="responsavel as responsavel.firstName for responsavel in vm.usuariosResponsaveis track by responsavel.id">
            </select>
            <div ng-show="editForm.responsavel.$invalid">
                <p class="help-block" ng-show="editForm.responsavel.$error.required">
                    Este campo é obrigatório.
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Meta</label>
			<input type="text" class="input-sm form-control" name="valor" clean="true" ng-model="vm.user.meta" ui-money-mask="2">
        </div>
        
        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Limite de Leads por Plantão</label>
            <input type="number" class="input-sm form-control" name="input" ng-model="vm.user.limiteLeads" readonly>
        </div>
        
        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Range DDD</label>
			<rzslider rz-slider-model="range.minValue" rz-slider-high="range.maxValue" rz-slider-options="range.options"></rzslider>
        </div>        
        
        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Quantidade de leads de plano Individual</label>
			<rzslider rz-slider-model="individual.value" rz-slider-options="individual.options"></rzslider>
        </div>

        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Quantidade de leads de plano Familiar</label>
			<rzslider rz-slider-model="familiar.value" rz-slider-options="familiar.options"></rzslider>
        </div>

        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Quantidade de leads de plano PME</label>
			<rzslider rz-slider-model="pme.value" rz-slider-options="pme.options"></rzslider>
		</div>
        
        <div class="form-group" has-authority="GERENCIA_INTERNA">
            <label>Quantidade de leads de plano Empresarial</label>
			<rzslider rz-slider-model="empresarial.value" rz-slider-options="empresarial.options"></rzslider>
        </div>
        
        <button class="btn btn-success" type="button" ng-click="vm.adicionarContato()">
	        <span class="glyphicon glyphicon-plus"></span> <span>Adicionar telefone</span>
	    </button>
        <div ng-repeat="contato in vm.user.contatos">
	        <div class="form-group">
	            <label>Celular {{$index + 1}}</label>
	            <input type="text" class="form-control" name="celular{{$index+1}}" mask="(99) 9?9999-9999" clean="true"
	                   ng-model="contato.valor" required>
	            <button title="Remover" type="button"
                        ng-click="vm.removerContato($index)"
                        class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <div ng-show="editForm.responsavel.$invalid">
	                <p class="help-block" ng-show="editForm.celular{{$index+1}}.$error.required">
	                    Este campo é obrigatório.
	                </p>
	            </div>
	        </div>
	    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
           >Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
        </button>
    </div>
</form>
