<form name="pendenciasForm" role="form"> <!-- ng-submit="salvar()"--> 

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title">Passo 1 - Contato</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Id</th>
	                    <th>Mensagem Diretoria</th>
	                    <th>Justificativa</th>
	                    <th>Status PendÍncia</th>
	                </tr>
	            </thead>
	            <tbody>
	            <tr ng-repeat="pendencia in pendencias track by pendencia.id">
		            <tr>
		                <td>
		                    <span>id</span>
		                </td>
		                <td>
		                    <input type="text" name="id" class="input-sm form-control" value="{{pendencia.id}}" readonly="readonly">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Mensagem Diretoria</span>
		                </td>
		                <td>
		                    <input type="text" name="mensagemDiretoria" class="input-sm form-control" ng-model="{{pendencia.mensagemDiretoria}">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Justificativa</span>
		                </td>
		                <td>
		                    <input type="text" name="mensagemJustificativa" class="input-sm form-control" ng-model="{{pendencia.mensagemJustificativa}">
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Status Pendencia</span>
		                </td>
		                <td>
		                    <input type="text" name="statusPendencia" class="input-sm form-control" ng-model="{{pendencia.statusPendencia}}">
		                </td>
		            </tr>
	            </tr>
	            </tbody>
	        </table>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" class="btn btn-primary">
	            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
	        </button>
	    </div>	    
    </div>
</form>
