<!--  

PRIMEIRO PASSO - CONTATO

-->
<form name="contatoForm" role="form" novalidate ng-submit="negociacao()" show-validation ng-if="passoAtual == 'CONTATO'">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title">Passo 1 - Contato</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Campo</th>
	                    <th>Valor</th>
	                </tr>
	            </thead>
	            <tbody>
		            <tr>
		                <td>
		                    <span>Nome</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.nome}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Telefone</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.ddd}} - {{lead.telefone}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Email</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.email}}" readonly>
		                </td>
		            </tr>
		            </tr>
		            <tr>
		                <td>
		                    <span>Tipo Plano</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.tipoPlano}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Operadora</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.operadora}}" readonly>
		                </td>
		            </tr>
         			<tr>
		                <td>
		                    <span>Valor</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.valor}}" readonly>
		                </td>
		            </tr>			            			            		            
	            </tbody>
	        </table>
	    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="contatoForm.$invalid" class="btn btn-primary" >
            <span class="glyphicon"></span>&nbsp;<span>Próximo</span>
        </button>
    </div>
</form>

<!--  

SEGUNDO PASSO - NEGOCIACAO

-->
<form name="negociacaoForm" role="form" novalidate ng-submit="salvar()" show-validation ng-if="passoAtual == 'NEGOCIACAO'">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title">Passo 2 - Negociação</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Campo</th>
	                    <th>Valor</th>
	                </tr>
	            </thead>
	            <tbody>
		            <tr>
		                <td>
		                    <span>Nome</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.nome}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Telefone</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.ddd}} - {{lead.telefone}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Email</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.email}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Tipo Plano</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" value="{{lead.tipoPlano}}" readonly>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    <span>Operadora</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" ng-model="lead.operadora" name="operadora">
		                </td>
		            </tr>
	           		<tr>
		                <td>
		                    <span>Valor</span>
		                </td>
		                <td>
		                    <input type="text" class="input-sm form-control" name="valor" clean="true" ng-model="lead.valor" ui-money-mask="2">
		                </td>
		            </tr>			            				            
	            </tbody>
	        </table>
	        <table class="table table-striped">
	            <thead>
		            <tr>
		                <th>0 a 18</th>
		                <th>19 a 23</th>
		                <th>24 a 28</th>
		                <th>29 a 33</th>
		                <th>34 a 38</th>
		                <th>39 a 43</th>
		                <th>44 a 48</th>
		                <th>49 a 53</th>
		                <th>54+</th>
		            </tr>
	            </thead>
	            <tbody>
		            <tr>
		                <td>{{lead.faixaEtaria._0a18}}</td>
		                <td>{{lead.faixaEtaria._19a23}}</td>
		                <td>{{lead.faixaEtaria._24a28}}</td>
		                <td>{{lead.faixaEtaria._29a33}}</td>
		                <td>{{lead.faixaEtaria._34a38}}</td>
		                <td>{{lead.faixaEtaria._39a43}}</td>
		                <td>{{lead.faixaEtaria._44a48}}</td>
		                <td>{{lead.faixaEtaria._49a53}}</td>
		                <td>{{lead.faixaEtaria._54_plus}}</td>
		            </tr>
	            </tbody>
	        </table>
	    </div>
        <table class="table table-striped" has-authority="VENDEDOR">
            <thead>
	            <tr>
	                <th>0 a 18</th>
	                <th>19 a 23</th>
	                <th>24 a 28</th>
	                <th>29 a 33</th>
	                <th>34 a 38</th>
	                <th>39 a 43</th>
	                <th>44 a 48</th>
	                <th>49 a 53</th>
	                <th>54+</th>
	            </tr>
            </thead>
            <tbody>
	            <tr>
	                <td><input type="text" class="form-control" name="_0a18"
                   			ng-model="lead.faixaEtaria._0a18" ng-required="true" maxlength="15"></td>
            		<td><input type="text" class="form-control" name="_19a23"
                   			ng-model="lead.faixaEtaria._19a23" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_24a28"
                   			ng-model="lead.faixaEtaria._24a28" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_29a33"
                   			ng-model="lead.faixaEtaria._29a33" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_34a38"
                   			ng-model="lead.faixaEtaria._34a38" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_39a43"
                   			ng-model="lead.faixaEtaria._39a43" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_44a48"
                   			ng-model="lead.faixaEtaria._44a48" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_49a53"
                   			ng-model="lead.faixaEtaria._49a53" ng-required="true" maxlength="15"></td>
                   	<td><input type="text" class="form-control" name="_54_plus"
                   			ng-model="lead.faixaEtaria._54_plus" ng-required="true" maxlength="15"></td>
	            </tr>
            </tbody>
        </table>
        <h3 has-authority="VENDEDOR"><strong><p align="center">RESULTADO LEAD:</p></strong></h3>
        <div class="form-group" align="center" has-authority="VENDEDOR">
		  <label>
		    <input type="radio" ng-model="lead.status" value="EM_ANDAMENTO">
		    Em Negociação
		  </label>        
          <label>
		    <input type="radio" ng-model="lead.status" value="VENDIDO">
		    Vendido
		  </label>
		  <label>
		    <input type="radio" ng-model="lead.status" value="SEM_INTERESSE">
		    Perdido
		  </label><br/>
		 </div>
        <div class="form-group" ng-show="lead.status == 'EM_ANDAMENTO'">
           <label class="control-label">Data retorno:</label>
		   <input type="date" class="input-sm form-control" id="dataRetorno" name="dataRetorno" ng-model="lead.dataRetorno"
		      placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31">
		   <div role="alert">
		     <span class="error" ng-show="contatoForm.dataRetorno.date">
		         Data Inválida!</span>
		    </div>
        </div>
        <div class="form-group" align="center" has-authority="DIRETOR,GERENTE, SUPERVISOR" ng-if="lead.status != 'VENDIDO'">
	        <label class="control-label" has-authority="DIRETOR,GERENTE, SUPERVISOR">Responsável pelo Lead:</label>
			<div isteven-multi-select has-authority="DIRETOR,GERENTE, SUPERVISOR" input-model="usuarios" 
			    button-label="nome" item-label="nome" tick-property="ticked" output-properties="id"
			    selection-mode="single" on-item-click="atribuir(data)">
			</div>
		</div>           
        <div class="form-group">
            <label class="control-label">Observações vendedor:</label>
            <textarea class="form-control" name="motivoStatus"
                   ng-model="lead.motivoStatus"  ng-readonly="isManager" ></textarea>

        </div>             
        <div class="form-group">
            <label class="control-label">Observações diretoria:</label>
            <textarea class="form-control" name="observacoes"
                   ng-model="lead.observacoes" ng-readonly="isVendedor"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="contato()">
            <span class="glyphicon"></span>&nbsp;<span>Anterior</span>
        </button>
        <button type="submit" has-authority="VENDEDOR" ng-disabled="negociacaoForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
        </button>
        <button type="submit" has-authority="DIRETOR,GERENTE,SUPERVISOR" ng-disabled="negociacaoForm.$invalid || lead.status == 'VENDIDO' || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Atribuir</span>
        </button>
    </div>
</form>
