<div>
    <h2>Leads</h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" ng-if="existemPendencias();">
    	<br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Data Pendência</th>
                <th>Lead</th>
                <th>Responsável</th>
                <th>Cobrança</th>
                <th>Justificativa</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pendencia in notificacoes track by pendencia.id">
                <td>{{pendencia.dataEntrada | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{pendencia.numeroLead}}</td>
                <td>{{pendencia.responsavel.nome}}</td>
                <td>{{pendencia.mensagemDiretoria}}</td>
                <td has-authority="SUPERVISOR,VENDEDOR"><input type="text" class="input-sm form-control" ng-model="pendencia.mensagemJustificativa" name="justificativa" maxlength="255"></td>
                <td has-authority="DIRETOR, GERENTE">{{pendencia.mensagemJustificativa}}</td>
                <td class="text-right" has-authority="GRAFICOS_VENDAS">
                    <button type="button" title="Gerar Justificativa"
                            class="btn btn-info btn-sm" ng-click="GerarJustificativa(pendencia);">
                        <span class="glyphicon glyphicon-alert"></span>
                    </button>                    
                </td>
                <td class="text-right" has-authority="GERENCIA_INTERNA">
                    <button type="button" title="Bloquear Vendedor"
                            class="btn btn-info btn-sm" ng-click="BloquearVendedor(pendencia, false);">
                        <span class="glyphicon glyphicon-alert"></span>
                    </button>                    
                </td>
                <td class="text-right" has-authority="GERENCIA_INTERNA">
                    <button type="button" title="Bloquear Vendedor por tempo indeterminado"
                            class="btn btn-info btn-sm" ng-click="BloquearVendedor(pendencia, true);">
                        <span class="glyphicon glyphicon-eject"></span>
                    </button>                    
                </td>                
            </tr>
            </tbody>
        </table>
    </div>    
    <div class="table-responsive" has-authority="VENDAS">
        <div class="text-center">
        	<button type="button" id="renovar" class="btn btn-success" ng-click="AtualizarLeads();">Atualizar Leads</button>
    	</div>
    	<br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Responsável</th>
                <th has-authority="GERENCIA_INTERNA">Data de entrada</th>
                <th has-authority="GRAFICO_VENDAS">Data Encaminhamento</th>
                <th>Nome Lead</th>
                <th>Última atualização</th>
                <th>Retorno marcado</th>
                <th>Status</th>
                <th></th>
                <th></th
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lead in leads track by lead.id">
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.responsavel.nome}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}' has-authority="GERENCIA_INTERNA">{{lead.dataEntrada | date:'dd/MM/yy HH:mm'}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}' has-authority="GRAFICO_VENDAS">{{lead.dataEncaminhamento | date:'dd/MM/yy HH:mm'}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.nome}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.dataAlteracaoStatus | date:'dd/MM/yy HH:mm'}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.dataRetorno | date:'dd/MM/yyyy'}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.descricaoStatus}}</td>
                <td class="text-right" has-authority="GERENCIA_INTERNA">
                    <button type="submit" title="Análise e Negociação"
                            ui-sref="leads-flow-dialog({id:lead.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </td>
                <td class="text-right" ng-if="!lead.limiteAtingido && lead.status == 'DISPONIVEL' || lead.status == 'EM_ANDAMENTO'" has-authority="GRAFICO_VENDAS">
                    <button type="submit" title="Análise e Negociação"
                            ui-sref="leads-flow-dialog({id:lead.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </td>                
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
