<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Senha para [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Senha alterada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Aconteceu um erro!</strong> A senha não pôde ser alterada.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                A senha e a confirmação estão diferentes!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nova senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nova senha"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Senha obrigatória.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Sua senha deve ter no mínimo 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Sua senha não pode ter mais de 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmação da nova senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Confirmação obrigatória.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Sua senha deve ter no mínimo 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Sua senha não pode ter mais de 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
