<div>
    <h2>Repescagem</h2>
    <jh-alert></jh-alert>
    
	<form name="repescagemForm" role="form" novalidate ng-submit="buscar(repescagem);">
	
	    <div class="modal-header">
	        <h4 class="modal-title">Informe o período e status das indicações que você deseja buscar:</h4>
	    </div>
	    <div class="modal-body">
	        <jh-alert-error></jh-alert-error>
	        <div class="table-responsive">
		        <table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Campo</th>
		                    <th>Valor</th>
		                </tr>
		            </thead>
		            <tbody>
			            <tr>
			                <td>
			                    <span>De:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataInicio" name="dataInicio" ng-model="repescagem.inicio"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Até:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataFim" name="dataFim" ng-model="repescagem.fim"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Status</span>
			                </td>
			                <td>
	                            <select class="form-control" name="status" ng-model="repescagem.status" ng-required="true"
	                    			ng-options="opcao as opcao.label for opcao in optionStatus track by opcao.id">
	                    			<option value="">-- escolha o status --</option>
	            				</select>
			                </td>
			            </tr>
		            </tbody>
		        </table>
		    </div>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" ng-disabled="repescagemForm.$invalid" class="btn btn-primary" ui-sref="buscar({inicio: repescagem.inicio, fim: repescagem.fim, status: repescagem.status.id})">
	            <span class="glyphicon"></span>&nbsp;<span>Mostrar</span>
	        </button>
	    </div>
	</form>    
</div>
