<div>
    <jh-alert></jh-alert>
	    <form name="pesquisaForm" role="form" novalidate ng-submit="Salvar({idLead: leadId})" show-validation">
	
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
	                ng-click="clear()">&times;</button>
	        <h4 class="modal-title">Bem-vindo ao Controle Serra de Qualidade. Como você foi atendido?</h4>
	    </div>
	    <div class="modal-body">
	        <div class="table-responsive">
		        <table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Resposta</th>
		                    <th>Motivo</th>
		                </tr>
		            </thead>
		            <tbody>
			            <tr>
			                <td>
			                    <span><a ng-click="mostrarRuim()" >Péssimo</a></span>
			                </td>
			                <td>
			                    <input id="pessimo" type="text" class="input-sm form-control" ng-model="pessimo" name="pessimo" style="display: none;">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span><a ng-click="mostrarRegular()">Normal</a></span>
			                </td>
			                <td>
			                    <input id="regular" type="text" class="input-sm form-control" ng-model="normal" name="normal" style="display: none;">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span><a ng-click="mostrarOtimo()">Ótimo</a></span>
			                </td>
			                <td>
			                    <input id="otimo" type="text" class="input-sm form-control" ng-model="otimo" name="otimo" style="display: none;">
			                </td>
			            </tr>
		            </tbody>
		        </table>
		    </div>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" >
	            <span class="glyphicon"></span>&nbsp;<span>Registrar</span>
	        </button>
	    </div>
	</form>
</div>
