<div class="table-responsive" has-authority="DIRETOR,GERENTE,VENDEDOR,SUPERVISOR">
    	<br>
        <table class="table table-striped">
            <thead>
            <p ng-show='!leads.length' style="text-align: center;">Não foram encontrados leads</p>
            <tr ng-show='leads.length'>
                <th>Data de entrada</th>
                <th>Valor (R$)</th>
                <th>Nome Lead</th>
                <th>Operadora</th>
                <th>DDD</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Repescado?</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lead in leads track by lead.id">
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.dataEntrada | date:'dd/MM/yy HH:mm'}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}' ng-model="lead.valor" ui-money-mask>{{lead.valor}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.nome}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.operadora}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.ddd}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.telefone}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.email}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}'>{{lead.descricaoStatus}}</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}' ng-if='lead.repescado'>SIM</td>
                <td ng-class='{red : lead.limiteAtingido, black: !lead.limiteAtingido}' ng-if='!lead.repescado'>NÃO</td>
            </tr>
            </tbody>
        </table>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
		            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Fechar</span>
		        </button>
   		 </div>          
    </div>
