<div>
    <h2>Histórico de Indicações</h2>
    <jh-alert></jh-alert>
    
	<form name="repescagemForm" role="form" novalidate>
	
	    <div class="modal-header">
	        <h4 class="modal-title">Informe o período e status das indicações que você deseja buscar:</h4>
	    </div>
	    <div class="modal-body">
	        <jh-alert-error></jh-alert-error>
	        <div class="table-responsive">
		        <table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Campo</th>
		                    <th>Valor</th>
		                </tr>
		            </thead>
		            <tbody>
			            <tr>
			                <td>
			                    <span>De:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataInicio" name="dataInicio" ng-model="historico.inicio"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Até:</span>
			                </td>
			                <td>
	                  		   <input type="date" class="input-sm form-control" id="dataFim" name="dataFim" ng-model="historico.fim"
			      					placeholder="yyyy-MM-dd" min="2016-01-01" max="2099-12-31" ng-required="true">
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Vendedor</span>
			                </td>
			                <td>
								<div isteven-multi-select has-authority="SUPERVISAO" input-model="usuarios" output-model="usuariosOutput"
								    button-label="firstName" item-label="firstName" tick-property="ticked" output-properties="idUser"
								    selection-mode="single" on-item-click="atribuir(data)" orientation="horizontal" helper-elements="none filter">
								</div>
			                </td>
			            </tr>
		            </tbody>
		        </table>
		    </div>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" ng-disabled="repescagemForm.$invalid" class="btn btn-primary" ui-sref="buscar-historico({inicio: historico.inicio, fim: historico.fim, idUser: responsavel.id})">
	            <span class="glyphicon"></span>&nbsp;<span>Mostrar</span>
	        </button>
	    </div>
	</form>    
</div>
