<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Acesso</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h1>Portal Serra</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Erro ao logar!</strong> Por favor, verique suas credenciais e tente novamente.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="Seu login" ng-model="vm.username">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Sua senha"
                           ng-model="vm.password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span>Lembrar de mim</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="" ng-click="vm.requestResetPassword()">Clique aqui se você esqueceu sua senha!</a>
            </div>
        </div>
    </div>
</div>
