<script type="text/javascript">kendo.culture("pt-BR");</script>	
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png"/>
                <span>Portal Serra</span> <span class="navbar-version">versão {{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-stats"></span>
                        <span class="hidden-sm">Dashboard</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('leads')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="leads-menu">
                        <span>
                            <span class="glyphicon glyphicon-piggy-bank"></span>
                            <span class="hidden-sm">
                                Leads
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="VENDAS">
                            <a ui-sref="leads-flow" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;
                                <span>Indicações</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="GERENCIA_INTERNA">
                            <a ui-sref="calendario" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;
                                <span>Plantão</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="MARKETING">
                            <a ui-sref="repescagem" ng-click="vm.collapseNavbar()" id="logout">
                                <span class="glyphicon glyphicon-transfer"></span>&nbsp;
                                <span>Repescagem</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"	has-authority="GERENCIA_INTERNA">
                            <a ui-sref="historico" ng-click="vm.collapseNavbar()" id="login">
                                <span class="glyphicon glyphicon-expand"></span>&nbsp;
                                <span>Histórico</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('agenda')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="leads-menu">
                        <span>
                            <span class="glyphicon glyphicon-equalizer"></span>
                            <span class="hidden-sm">
                                Agenda
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="VENDAS">
                            <a ui-sref="calendario-view" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <span>Eventos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="SUPORTE" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administração</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="GERENCIA_INTERNA">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>Gerenciar usuários</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Métricas</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Saúde</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configurações</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Auditoria</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction" has-authority="ROLE_ADMIN">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span>Banco de Dados</span>
                            </a>
                        </li>
                    </ul>
                </li>                
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                       <span>
                        	<span id="foto" style="display: none;"><img ng-src="{{vm.account.urlFoto}}"/></span>
                            <span id="fotoPadrao" class="glyphicon glyphicon-user"></span>
<!--                             <span class="hidden-sm"> -->
<!--                                 Conta -->
<!--                             </span> -->
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Configurar</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Senha</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>Sessão</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sair</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Entrar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
