/** 
 * Copyright 2016 Telerik AD                                                                                                                                                                            
 *                                                                                                                                                                                                      
 * Licensed under the Apache License, Version 2.0 (the "License");                                                                                                                                      
 * you may not use this file except in compliance with the License.                                                                                                                                     
 * You may obtain a copy of the License at                                                                                                                                                              
 *                                                                                                                                                                                                      
 *     http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                                       
 *                                                                                                                                                                                                      
 * Unless required by applicable law or agreed to in writing, software                                                                                                                                  
 * distributed under the License is distributed on an "AS IS" BASIS,                                                                                                                                    
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.                                                                                                                             
 * See the License for the specific language governing permissions and                                                                                                                                  
 * limitations under the License.                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 2.214em;
@input-indent: .8em;
@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding: 10px 14px;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@icon-positioning: "material";

@import "common/all.less";

.k-textbox > input,
span.k-autocomplete .k-input,
span.k-picker-wrap .k-input,
span.k-numeric-wrap .k-input,
span.k-dropdown-wrap .k-input,
span.k-selectbox .k-input {
    height: 1.429em;
    line-height: 1.429em;
    padding: 0.643em 0;
    text-indent: .714em;
}

input.k-textbox,
.k-ff input.k-textbox
{
    height: 2.857em;
}

.k-button {
    line-height: 1.143em;
    padding: .82em 14px;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
    border-width: 1px 0 0;
}

.k-tabstrip-left > .k-content,
.k-panelbar .k-tabstrip-left > .k-content
{
    border-width: 0 0 0 1px;
}

.k-tabstrip-right > .k-content,
.k-panelbar .k-tabstrip-right > .k-content
{
    border-width: 0 1px 0 0;
}

.k-tabstrip-bottom > .k-content,
.k-panelbar .k-tabstrip-bottom > .k-content
{
    border-width: 0 0 1px 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3em;
    padding-left: 2.4em;
}

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip-items .k-loading.k-complete
{
    display:none;
}

.k-tabstrip-items .k-tab-on-top,
.k-tabstrip-items .k-state-active {
    margin-bottom: -2px;
    padding-bottom: 0;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-width: 0 0 4px 0;
    border-bottom-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-top > .k-tabstrip-items .k-link {
    padding: 0 0 .6em;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-width: 0 4px 0 0;
    border-right-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-left > .k-tabstrip-items .k-link {
    padding: 0 8px 0 0;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-width: 0 0 0 4px;
    border-left-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-right > .k-tabstrip-items .k-link {
    padding: 0 0 0 7px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-width: 4px 0 0;
    border-top-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-bottom > .k-tabstrip-items .k-link {
    padding: .6em 0 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th
{
    padding: .929em .6em .714em .6em;
}

.k-grid-header th.k-header
{
    padding-left: 1.286em;
}

.k-filtercell > span {
    padding-right: 5.714em;
}

.k-filtercell > span > .k-button {
    padding-left: .714em;
    padding-right: .714em;
    margin: 0;
}

.k-button-icon .k-icon
{
    vertical-align: text-top;
}

.k-filter-row .k-dropdown-operator {
    width: 2.714em;
    right: 2.857em;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em 1.286em;
}

.k-grid-header th.k-header > .k-link
{
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: inherit;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-grid > table tr:first-child td,
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-pager-numbers .k-state-selected {
    line-height: 2em;
    cursor: pointer;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    border-width: 3px 0 0;
}

.k-pager-wrap {
    padding: 0;
    min-height: 52px;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-sizes{
    padding: .571em 0 .571em 0.250em;
}

.k-pager-wrap > .k-link
{
    margin-top: .6em;
    padding: 0 0 0.250em 0.250em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-pager-wrap .k-pager-refresh {
    margin-right: 1.214em;
}

.k-pager-wrap .k-dropdown {
    width: 5.2em;
}

.k-dirty
{
    margin: -1.4em 0 0 -1.2em;
}

.k-autocomplete .k-loading,
.k-multiselect .k-loading
{
    bottom: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.571em 0 0;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.571em;
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-calendar {
    width: 27em;
}

.k-calendar .k-header {
    margin: 0 -5px;
}

.k-calendar td {
    padding: 0;
}

.k-calendar .k-content .k-link {
    min-height: 3.4em;
    line-height: 3.4em;
    padding: 0;
    text-align: center;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
    text-align: center;
}

.k-popup.k-list-container {
    padding: 0.286em 0;
}

.k-popup.k-calendar-containe {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: .6em 0 1.071em;
}

.k-popup.k-calendar-container {
    padding: 0;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input
{
    padding: 0.27em 0;
}
.k-multiselect-wrap
{
    min-height: 2.714em;
}

.k-multiselect-wrap .k-input {
    height: @input-height;
}

.k-multiselect-wrap li {
    margin: 4px 0 4px 4px;
    padding: 0 1.8em 0 .857em;
}

.k-multiselect-wrap li span {
    margin-right: .3em;
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    height: (@input-height + 0.46em) / 2;
    line-height: 1.357em;
}

.k-numerictextbox .k-link .k-i-arrow-n {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-s {
    vertical-align: text-top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link
{
    padding: 0.786em 3em 0.786em 1.714em;
}

.k-menu .k-item > .k-link > .k-i-arrow-e {
    right: 1rem;
}

.k-menu .k-item > .k-link > .k-icon
{
    margin-left: 2px;
}

.k-menu {
    .k-state-selected {
        .k-i-arrow-s {
            background-position: 0 -32px;
        }
    }

    .k-state-active {
        .k-i-arrow-s {
            background-position: -16px -32px;
        }

        .k-i-arrow-e {
            background-position: -16px -16px;
        }
    }
}

table.k-editor {
    border-spacing: 0;
}

.k-editor .k-editable-area {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 10px;
}

.k-toolbar
{
    line-height: 3.42em;
}

.k-toolbar .k-button,
.k-toolbar .k-split-button,
.k-toolbar .k-button-group,
.k-toolbar .k-textbox
{
    line-height: 1.143em;
}

.k-toolbar label, .k-toolbar .k-separator
{
    line-height: 3.43em;
}

.k-toolbar .k-input {
    height: @input-height;
    line-height: @input-height;
    padding: 0.177em 0;
    text-indent: @input-indent;
    border: 0;
    margin: 0;
}

.k-overflow-container > li > .k-button,
.k-split-container > li > .k-button,
.k-toolbar .k-button-group .k-button
{
    border-width: 0;
}

.k-toolbar .k-overflow-anchor {
    line-height: inherit;
    height: 3.42em;
}

.k-button-group .k-tool {
    margin: 6px 0;
}

.k-editor-toolbar .k-button-group .k-tool-icon,
.k-toolbar .k-button-group .k-tool-icon {
    width: 24px;
    height: 24px;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;
}

.k-filebrowser .k-filebrowser-toolbar {
    line-height: 3.5em;
}

.k-filebrowser-toolbar .k-upload {
    margin-top: 3px;
}

.k-filebrowser-toolbar .k-button-icon {
    margin-top: -3px;
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header,
.k-window-titlebar {
    padding: 0.5em 0 0.571em;
}

.k-window-titlebar.k-header
{
    font-weight: bold;
}

.k-window-titlebar .k-window-actions {
    padding-top: 0.4em;
    right: 0.5em;
}

.k-file {
    padding: 0.357em .167em 0.357em .8em;
}

.k-scheduler-table th {
    height:1.8em;
    padding-right: .625em;
    padding-left: .625em;
}

.k-scheduler-header th.k-scheduler-groupcolumn {
    width: 7.5em;
}

.k-scheduler-table td
{
    height:1.286em;
}

.k-scheduler .k-scheduler-times th
{
    text-align: left;
    padding-left: 1.6em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-gantt .k-task-summary:before,
.k-gantt .k-task-summary-complete:before,
.k-gantt .k-task-summary:after,
.k-gantt .k-task-summary-complete:after {
    border-width: 0;
}

.k-notification-wrap {
    padding: 1.786em;
}

.k-notification-wrap > .k-i-close {
    top: 21px;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    width: 6px;
    height: 12px;
    top: -7px;
}

.k-slider-vertical .k-draghandle
{
    width: 12px;
    height: 6px;
    left: -7px;
}

.k-widget.k-slider .k-slider-buttons .k-button
{
    border-width: 0;
    background: transparent;
}

.k-slider .k-button .k-icon
{
    margin-top: 4px;
}

.k-widget.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
    box-shadow: none;
}

.k-colorpicker
{
    .k-picker-wrap {
        line-height: @input-height;
    }

    .k-selected-color {
        height: @input-height;
        padding: 0.22em 0;
    }
}

/* Editor */
.editor-icon(@x, @y) {
    background-position: @x @y;

    .k-state-hover &,
    .k-state-selected & {
        background-position: @x @y;
    }
}

/* PanelBar */
.k-panelbar-expand,
.k-panelbar-collapse {
    right: auto;
    left: 9px;
}

/* Grid */
.k-header.k-grid-toolbar {

}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-grouping-header {
    padding-left: 1.286em;
}

.k-grid .k-icon {
    opacity: 0.45;
}


/* Scheduler */

.k-scheduler-footer .k-icon.k-i-clock {
    display: none;
}

.k-scheduler-toolbar > ul.k-scheduler-navigation > li
{
    border-width: 0;
}

.k-scheduler-toolbar .k-i-calendar
{
    display: none;
}

.k-scheduler-toolbar .k-nav-current > .k-link
{
    vertical-align: top;
}

.k-nav-current > .k-link span + span
{
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: bottom;
    max-width: 22em;
}

.k-scheduler-toolbar .k-scheduler-views > li > .k-link,
.k-gantt-toolbar .k-gantt-views > li > .k-link
{
    padding: .2em 0 0;
}

.k-scheduler-toolbar .k-scheduler-views > li,
.k-gantt-toolbar .k-gantt-views > li
{
    margin: 0 .928em;
}

.k-scheduler-toolbar .k-nav-today .k-link
{
    padding-left: 0;
}

.k-rtl .k-scheduler-toolbar .k-nav-today .k-link
{
    padding-right: 0;
    padding-left: 1.1em;
}

.k-scheduler-header .k-slot-cell
{
    vertical-align: middle;
}

.k-scheduler-header tr + tr > th
{
    border-top-width: 1px;
}

.k-scheduler-monthview .k-scheduler-table td,
.k-scheduler-monthview .k-hidden
{
    height: 120px;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.k-gantt .k-gantt-toolbar,
.k-scheduler .k-scheduler-toolbar
{
    line-height: 2em;
}

.k-gantt-toolbar > ul.k-gantt-views > li,
.k-scheduler-toolbar > ul.k-scheduler-views > li {
    border-width: 0 0 3px 0;
    border-color: transparent;
}

.k-scheduler-toolbar > ul.k-scheduler-views > li:first-child + li {
    border-left-width: 0;
}

.k-gantt-toolbar li .k-link,
.k-scheduler-toolbar li .k-link {
    vertical-align: middle;
    line-height: 36px;
    padding-top: 2px;
}

.k-gantt-toolbar,
.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 44px;
    vertical-align: middle;
}

.k-scheduler-footer {
    padding: 0;
}

.k-scheduler-toolbar {
    padding: 0 1.286em;
}

.k-gantt-toolbar
{
    padding: 0 1.286em 0 .528em;
}

.k-scheduler div.k-scheduler-footer ul li
{
    border-width: 0;
}

.k-gantt-actions
{
    margin: .2em 0;
}

.k-gantt-create
{
    padding: 8px 12px;
}

// Icons
.k-state-border-down .k-select .k-i-arrow-s {
    background-position: 0 0;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n,
.k-grid-header .k-numerictextbox .k-select .k-link span.k-i-arrow-n {
     background-position: 0 -3px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s,
.k-grid-header .k-numerictextbox .k-select .k-link span.k-i-arrow-s {
     background-position: 0 -35px;
}

.k-i-close,
.k-delete,
.k-group-delete {
    background-position: -32px -16px;
}

.k-multiselect {
    .k-delete,
    .k-state-hover .k-delete {
        background-position: -32px -16px;
    }
}

.k-calendar .k-content td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-treeview {
    .k-minus {
        background-position: 0 -32px;
    }

    .k-plus {
        background-position: 0 -16px;
    }

    .k-loading {
        background-position: 50%;
    }
}

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }

    .k-collapse-next {
        background-position: -5px -142px;
    }

    .k-collapse-prev {
        background-position: -6px -174px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }

    .k-collapse-next {
        background-position: 2px -165px;
    }

    .k-collapse-prev {
        background-position: 2px -134px;
    }
}

.k-grid .k-delete {
    background-position: -32px -16px;
}

.k-grid-header .k-i-arrow-n,
.k-grid-header .k-link:not(.k-state-disabled):hover > .k-i-arrow-n {
    background-position: 0 -256px;
}

.k-grid-header .k-i-arrow-s,
.k-grid-header .k-link:not(.k-state-disabled):hover > .k-i-arrow-s {
    background-position: 0 -288px;
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
    padding: .857em;
    margin: -.929em -.6em -.714em 0;
}

.k-grid-header .k-header-column-menu .k-i-arrowhead-s {
    background-position: -64px -32px;
}

.k-panel {
    .k-i-arrow-n,
    .k-link.k-state-selected .k-i-arrow-n,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-n {
        background-position: 0 -192px;
    }

    .k-i-arrow-s,
    .k-link.k-state-selected .k-i-arrow-s,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-s {
        background-position: 0 -224px;
    }

    .k-i-arrow-e,
    .k-link.k-state-selected .k-i-arrow-e,
    .k-link:not(.k-state-disabled):hover > .k-i-arrow-e {
        background-position: 0 -190px;
    }
}

.k-pivot {
    .k-i-arrow-s {
        background-position: 0 -224px;
    }

    .k-i-arrow-e {
        background-position: 0 -192px;
    }
}

.k-pivot-configurator-settings {
    .k-si-close,
    .k-item.k-state-hover .k-si-close,
    .k-button:hover .k-si-close {
        background-position: -160px -80px;
    }
}

.k-pivot {
    .k-header,
    .k-button:not(.k-state-disabled):hover {
        .k-setting-sort {
            background-position: -112px -240px;
        }
    }

    .k-button:active,
    .k-button:active:hover {
        .k-i-arrowhead-s {
            background-position: -16px -288px;
        }

        .k-si-close {
            background-position: -176px -80px;
        }

        .k-i-sort-asc {
            background-position: -128px -240px;
        }

        .k-setting-sort {
            background-position: -128px -240px;
        }
    }
}

.k-notification .k-i-note {
    background-position: -176px -240px;
}

@checkbox-tick-icon-content: "\2714";
@checkbox-border-width: 2px;

.k-checkbox:indeterminate + .k-checkbox-label:after {
    width: 6px;
    height: 6px;
    margin-left: 0;
    top: 4px;
    left: 4px;
    transform: none;
}

.k-radio:checked + .k-radio-label:after {
   top: 5px;
   left: 5px;
}

.k-radio-label:before {
   width: 16px;
   height: 16px;
}

.k-dropzone .k-upload-status
{
    top: 1.1em;
}

//RTL
.k-rtl .k-widget .k-dropdown-wrap,
.k-rtl .k-widget .k-picker-wrap,
.k-rtl .k-widget .k-numeric-wrap {
    padding-left: 2.5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap {
    padding-left: 5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-rtl .k-panelbar .k-panelbar-expand,
.k-rtl .k-panelbar .k-panelbar-collapse {
    left: auto;
    right: 9px;
}

.k-rtl .k-panelbar > .k-item > .k-link,
.k-rtl .k-panel > .k-item > .k-link {
    padding-left: 1em;
    padding-right: 2.4em;
}

.k-spreadsheet {
    .k-button-group .k-button {
        border-width: 1px;
    }

    .k-spreadsheet-sheets-bar {
        height: 36px;

        .k-button {
            padding: 5px;
        }

        .k-spreadsheet-sheets-remove {
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .k-tabstrip-items .k-item {
            background-color: transparent;
        }
    }

    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            margin: 0 2px;
        }
    }

    .k-tabstrip-items  .k-link {
        padding-top: .4em;
    }
}

.k-spreadsheet-window {
    .k-page-orientation {
        top: 26%;
    }

    .k-page-landscape {
        top: 30%;
    }
}