/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@sprite-image: url('@{image-folder}/sprite.png');
@tooltip-texture: none;
@widget-text-color: @normal-text-color;
@inverse-text-color: saturate(@background, 29%);
@widget-gradient: none;
@widget-background-color: @background;
@widget-border-color: contrast(@background, lighten(@background, 9%), darken(@background, 10%), 0.5);
@widget-shadow: none;
@input-background-color: @background;
@input-text-color: @normal-text-color;
@link-text-color: #428bca;
@header-text-color: #ffffff;
@header-background-color: @accent;
@button-text-color: @normal-text-color;
@button-background-color: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@group-background-color: @accent;
@group-border-color: rgba(0, 0, 0, 0.2);
@content-background-color: @background;
@hover-background-color: @hover-background;
@hover-border-color: #ebebeb;
@hover-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
@select-background-color: @background;
@select-border-color: @hover-background;
@select-hover-background-color: lighten(@background, 17%);
@select-group-background-color: #ffffff;
@selected-background-color: @background;
@selected-border-color: lighten(@background, 17%);
@selected-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
@focused-border-color: #67afe9;
@focused-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05);
@focused-item-shadow: inset 0 0 0 1px contrast(@background, darken(@base, 50%), lighten(@base, 30%), 0.5);
@focused-active-item-shadow: none;
@active-text-color: @normal-text-color;
@active-gradient: none;
@active-background-color: #ffffff;
@active-border-color: #cccccc;
@active-shadow: none;
@error-text-color: #b94a48;
@error-background-color: #f2dede;
@error-border-color: #eed3d7;
@disabled-text-color: #999999;
@notification-info-background-color: @info;
@notification-info-text-color: darken(@info, 30%);
@notification-info-border-color: @info;
@notification-success-background-color: @success;
@notification-success-text-color: darken(@success, 30%);
@notification-success-border-color: @success;
@notification-warning-background-color: @warning;
@notification-warning-text-color: darken(@warning, 30%);
@notification-warning-border-color: @warning;
@notification-error-background-color: @error;
@notification-error-text-color: darken(@error, 30%);
@notification-error-border-color: @error;
@tooltip-text-color: #ffffff;
@tooltip-background-color: rgba(100,100,100,.9);
@tooltip-border-color: rgba(100,100,100,.9);
@validation-text-color: contrast(@validation-background-color, lighten(@warning, 80%), darken(@warning, 60%), 0.5);
@validation-background-color: @warning;
@validation-border-color: @warning;
@splitbar-background-color: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@draghandle-border-radius: 13px;
@draghandle-border-color: @accent;
@draghandle-background-color: @accent;
@draghandle-shadow: none;
@draghandle-hover-border-color: @accent;
@draghandle-hover-background-color: @accent;
@draghandle-hover-shadow: 0 0 0 8px RGBA(63, 81, 181, 0.3);
@alt-background-color: contrast(@background, lighten(@background, 14%), darken(@background, 2%), 0.5);
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: #e7e7e7;
@column-highlight-background-color: #e9e9e9;
@active-filter-background-color: lighten(@background, 20%);
@scheduler-background-color: @background;
@current-time-color: #eed3d7;
@event-background-color: lighten(@accent, 10%);
@event-text-color: #ffffff;
@event-inverse-text-color: @normal-text-color;
@scheduler-nonwork-background-color: contrast(@background, lighten(@background, 14%), darken(@background, 2%), 0.5);
@resize-background-color: #ffffff;
@upload-progress-background-color: @info;
@upload-progress-text-color: contrast(@upload-progress-background-color, lighten(@info, 70%), darken(@info, 40%), 0.5);
@upload-success-background-color: @success;
@upload-success-text-color: contrast(@upload-success-background-color, lighten(@success, 70%), darken(@success, 40%), 0.5);
@upload-error-background-color: @error;
@upload-error-text-color: contrast(@upload-error-background-color, lighten(@error, 70%), darken(@error, 40%), 0.5);
@task-summary-color: lighten(@header-background-color, 25%);
@task-summary-selected-color: lighten(@header-background-color, 25%);
@loading-panel-color: #ffffff;
@shadow-color: rgba(0, 0, 0, .2);
@shadow-inset-color: #cccccc;
@main-border-radius: 2px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;
@default-icon-opacity: .7;
@calendar-border-radius: 50%;
@calendar-content-text-color: @normal-text-color;
@calendar-footer-background: @background;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @background;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background;
@calendar-footer-active-background: @background;
@calendar-group-background-color: @accent;
@button-border-color: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@menu-border-color: contrast(@background, lighten(@background, 9%), darken(@background, 10%), 0.5);
@tabstrip-items-border: transparent;
@tabstrip-active-background: @background;
@tabstrip-tabs-color: #ffffff;
@form-widget-color: @normal-text-color;
@drop-down-border-color: contrast(@background, lighten(@background, 17%), darken(@background, 6%), 0.5);
@drop-down-hover-border-color: contrast(@background, lighten(@background, 1%), darken(@background, 4%), 0.5);
@drop-down-focused-border-color: contrast(@background, lighten(@background, 17%), darken(@background, 4%), 0.5);
@drop-down-background: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@drop-down-text-color: @normal-text-color;
@secondary-border-color: #cccccc;
@secondary-text-color: #ffffff;
@numeric-selected-background: #ebebeb;
@panelbar-items-border: contrast(@background, lighten(@background, 9%), darken(@background, 10%), 0.5);
@panelbar-content-background: @background;
@panelbar-content-color: @normal-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @background;
@icon-background-color: transparent;
@disabled-background-color: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@disabled-border-color: contrast(@background, lighten(@background, 17%), darken(@background, 2%), 0.5);
@disabled-gradient: none;
@treeview-text-color: #428bca;
@treeview-hover-text-color: #428bca;
@tabstrip-tabs-hover-color: #428bca;
@pager-hover-color: #428bca;
@multiselect-buttons-border-color: #357ebd;
@multiselect-buttons-color: #ffffff;
@multiselect-buttons-background: #428bca;
@multiselect-buttons-hover-background: #3276b1;
@multiselect-buttons-hover-border-color: #295f8e;
@slider-selection-background-color: @accent;
@form-widgets-border-color: desaturate(@hover-background, 1%);
@pager-text-color: #a5a5a5;
@draghandle-selected-background: #cccccc;
@upload-status-color: #f0ad4e;
@form-widgets-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
@menu-active-background: #e7e7e7;
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
@primary-button-text-color: #ffffff;
@primary-button-background-color: @accent;
@primary-button-border-color: @accent;
@primary-gradient: none;
@primary-shadow: none;
@primary-hover-text-color: #ffffff;
@primary-hover-background-color: #5c6bc0;
@primary-hover-border-color: #5c6bc0;
@primary-hover-gradient: none;
@primary-hover-shadow: none;
@primary-focused-color: #ffffff;
@primary-focused-border-color: #eff8ff;
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: 0 0 8px 0 #cfe6f8;
@primary-active-text-color: #ffffff;
@primary-active-background-color: #283593;
@primary-active-gradient: none;
@primary-active-border-color: #283593;
@primary-active-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
@primary-disabled-text-color: #a8a8a8;
@primary-disabled-background-color: #eaeaea;
@primary-disabled-border-color: #eaeaea;
@primary-disabled-gradient: none;
@button-hover-text-color: @normal-text-color;
@button-hover-background-color: contrast(@background, lighten(@background, 23%), darken(@background, 8%), 0.5);
@button-hover-border-color: contrast(@background, lighten(@background, 23%), darken(@background, 8%), 0.5);
@button-active-background: contrast(@background, lighten(@background, 23%), darken(@background, 14%), 0.5);
@button-active-border-color: contrast(@background, lighten(@background, 23%), darken(@background, 14%), 0.5);
@button-focused-border-color: contrast(@background, lighten(@background, 17%), darken(@background, 14%), 0.5);
@button-focused-shadow: 0 6px 17px 0 #c4c4c4;
@button-focused-active-shadow: 0 6px 17px 0 fadeout(@hover-background, 70%);
@secondary-background-color: contrast(@background, lighten(@background, 14%), darken(@background, 2%), 0.5);
@secondary-hover-background-color: softlight(@accent, #b9b9b9);
@secondary-header-color: rgba(256, 256, 256, 0.5);
@secondary-header-background-color: darken(@accent, 10%);

/* Kendo skin */

@theme-name: ~"material";

@import "common/mixins.less";
@import "themes/type.less";

.k-in,
.k-item,
.k-window-action
{
    border-color: transparent;
}

/* main colors */
.k-block,
.k-widget
{
    background-color: @widget-background-color;
}

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-widget.k-popup
{
    background-color: @group-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner
{
    background-color: @header-background-color;
}

.k-list-container
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child
{
    background-color: @alt-background-color;
}

.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt
{
    background-color: @nested-alt-background-color;
}

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input
{
    background: none;
}

.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap
{
    background-color: @input-background-color;
    color: @input-text-color;
}

// Bootstrap readonly input styling has more specificity than ours.
.k-input[readonly]
{
    background-color: @input-background-color;
    color: @input-text-color;
}

.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input
{
    color: @widget-text-color;
}

.k-inverse
{
    color: @inverse-text-color;
}

.k-block
{
    color: @header-text-color;
}

.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link
{
    color: @link-text-color;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link
{
    color: @widget-text-color;
}

.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link
{
    color: @header-text-color;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-widget.k-tooltip
{
    background-image: @tooltip-texture;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header
{
    background-color: @header-background-color;
}

/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after
{
    opacity:1;
}

.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after
{
    opacity: @default-icon-opacity;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    opacity: @default-icon-opacity;
}

.k-tool
{
    border-color: transparent;
}

.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite,
.k-grid-mobile .k-resize-handle-inner:before,
.k-grid-mobile .k-resize-handle-inner:after,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after,
.k-gantt-views > .k-current-view > .k-link:after
{
    background-image: @sprite-image;
    border-color: transparent;
}


/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    background-image: @sprite-image;
    border-color: transparent;
}

.k-loading,
.k-state-hover .k-loading
{
    background-image: url('@{image-folder}/loading.gif');
    background-position: 50% 50%;
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-button
{
    color: @button-text-color;
    border-color: @button-border-color;
    background-color: @button-background-color;
}

.k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

/* Scheduler */

.k-scheduler
{
    color: @event-text-color;
    background-color: @scheduler-background-color;
}

.k-scheduler-layout
{
    color: @widget-text-color;
}

.k-scheduler-datecolumn,
.k-scheduler-groupcolumn
{
    background-color: @scheduler-background-color;
    color: @widget-text-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: @widget-border-color;
}

.k-nonwork-hour
{
    background-color: @scheduler-nonwork-background-color;
}

.k-gantt .k-nonwork-hour
{
    background-color: rgba(0,0,0, .02);
}

.k-gantt .k-header.k-nonwork-hour
{
    background-color: rgba(0,0,0, .2);
}

.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn
{
    background-color: @column-highlight-background-color;
}

.k-scheduler-now-arrow
{
    border-left-color: @current-time-color;
}

.k-scheduler-now-line
{
    background-color: @current-time-color;
}

.k-event,
.k-task-complete
{
    border-color: @event-background-color;
    background: @event-background-color 0 -257px @tooltip-texture repeat-x;
    color: @event-text-color;
}

.k-event-inverse {
    color: @event-inverse-text-color;
}

.k-event.k-state-selected
{
    background-position: 0 0;
    .box-shadow(0 0 0 2px @normal-text-color);
}

.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after
{
    background-color: @resize-background-color;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after
{
    border-color: @selected-background-color;
}

.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item
{
    background-color: @panelbar-content-background;
    color: @panelbar-content-color;
    border-color: @secondary-border-color;
}

.k-panelbar > li > .k-link
{
    color: @panelbar-content-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @secondary-border-color;
}

.k-panel > li.k-item
{
    background-color: @panelbar-content-background;
}

/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active
{
    background-color: @active-background-color;
    border-color: @active-border-color;
    color: @active-text-color;
}

.k-fieldselector .k-list-container
{
    background-color: @active-background-color;
}

.k-button:focus,
.k-button.k-state-focused
{
    border-color: @button-focused-border-color;
}

.k-button:hover,
.k-button.k-state-hover
{
    color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-button:active,
.k-button.k-state-active
{
    color: @selected-text-color;
    background-color: @button-active-background;
    border-color: @button-active-border-color;
}

.k-button:active:hover,
.k-button.k-state-active:hover
{
    color: @primary-hover-text-color;
    border-color: @primary-hover-border-color;
    background-color: @primary-hover-background-color;
}

.k-button:focus:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@button-focused-shadow);
}

.k-button:focus:active:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@button-focused-active-shadow);
}

.k-menu .k-state-hover>.k-state-active
{
    background-color: transparent;
}

.k-state-highlight
{
    background: @active-background-color;
    color: @active-text-color;
}

.k-state-focused,
.k-grouping-row .k-state-focused
{
    border-color: @focused-border-color;
}


.k-calendar {
    .k-link {
        color: @calendar-content-text-color;
    }

    .k-footer {
        padding: 0;
    }

    .k-footer .k-nav-today {
        color: @form-widget-color;
        text-decoration: @calendar-footer-text-decoration;
        background-color: @calendar-footer-background;
    }

    .k-footer .k-nav-today:hover,
    .k-footer .k-nav-today.k-state-hover {
        background-color: @calendar-footer-hover-background;
        text-decoration: @calendar-footer-hover-text-decoration;
    }

    .k-footer .k-nav-today:active {
        background-color: @calendar-footer-active-background;
    }

    .k-link.k-nav-fast {
        color: @form-widget-color;
    }

    .k-nav-fast.k-state-hover {
        text-decoration: @calendar-header-hover-text-decoration;
        background-color: @calendar-header-hover-background;
        color: @hover-text-color;
    }

    .k-link.k-state-hover {
        border-radius: @calendar-border-radius;
    }

    .k-footer .k-link {
        border-radius: 0;
    }

    th {
        background-color: @calendar-group-background-color;
    }

}

.k-window-titlebar .k-link {
    border-radius: @calendar-border-radius;
}

.k-calendar-container.k-group {
    border-color: @group-border-color;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first
{
    border-top-color: @hover-border-color;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: @hover-border-color;
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    background: @hover-border-color;
    color: @selected-text-color;
}

.k-popup .k-list .k-item > .k-group
{
    background: @hover-border-color;
    color: @selected-text-color;
    border-bottom-left-radius: @inner-border-radius;
}

.k-marquee-text
{
    color: @selected-text-color;
}

.k-state-focused,
.k-list>.k-state-focused,
.k-listview>.k-state-focused,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused,
.k-button.k-state-focused,
.k-upload-files .k-button:focus,
.k-upload-files .k-button:focus:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@focused-item-shadow);
}

.k-state-focused.k-state-selected,
.k-list>.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-ie8 .k-panelbar span.k-state-focused,
.k-ie8 .k-menu li.k-state-focused,
.k-ie8 .k-listview>.k-state-focused,
.k-ie8 .k-grid-header th.k-state-focused,
.k-ie8 td.k-state-focused,
.k-ie8 .k-tool.k-state-hover,
.k-ie8 .k-button:focus,
.k-ie8 .k-button.k-state-focused,

.k-list>.k-state-selected.k-state-focused,
.k-list-optionlabel.k-state-selected.k-state-focused
{
    .box-shadow(none);
}

.k-state-selected>.k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list>.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-ie8 .k-window-titlebar .k-state-hover
{
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-focused > .k-select
{
    border-color: @hover-border-color;
}

.k-button:hover,
.k-button.k-state-hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover
{
    .composite-background(@hover-gradient);
}

.k-pager-wrap
{
    background-color: @header-background-color;
    color: @header-text-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active>.k-link,
.k-button:active,
.k-panelbar>.k-item>.k-state-focused
{
    .composite-background(@active-gradient);
}

.k-state-selected,
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover
{
    .composite-background(@selected-gradient);
}

.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover
{
    background-position: 50% 50%;
}

.k-tool-icon
{
    background-image: @sprite-image;
}

.k-state-hover>.k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em
{
    color: @hover-text-color;
}

.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @select-border-color;
}

.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input
{
    color: @widget-text-color;
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu {
    .k-space-right {
        background: @background;
        border-color: @widget-border-color;

        > input {
            background-color: @input-background-color;
            border-color: @drop-down-border-color;

            +.k-i-search:before {
                color: @widget-text-color;
            }
        }

        > input:focus {
            .box-shadow(@focused-shadow);
        }
    }
}

.k-dropdown .k-state-hover .k-input
{
    color: @hover-text-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled
{
    opacity:.7;
}

.k-ie8 .k-state-disabled
{
    filter:alpha(opacity=70);
}

.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle
{
    color: @disabled-text-color;
}

/* Progressbar */

.k-progressbar-indeterminate
{
    background: url('@{image-folder}/indeterminate.gif');
}

.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected
{
    display: none;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-border-color;
}

.k-slider-selection
{
    background-color: @selected-background-color;
}

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('@{image-folder}/slider-v.gif');
}

/* Tooltip */
.k-widget.k-tooltip
{
    border-color: @tooltip-border-color;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
}

.k-widget.k-tooltip-validation
{
    border-color: @validation-border-color;
    background-color: @validation-background-color;
    color: @validation-text-color;
}

/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation
{
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n
{
    border-bottom-color: @tooltip-border-color;
}

.k-callout-w
{
    border-right-color: @tooltip-border-color;
}

.k-callout-s
{
    border-top-color: @tooltip-border-color;
}

.k-callout-e
{
    border-left-color: @tooltip-border-color;
}

.k-tooltip-validation .k-callout-n
{
    border-bottom-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-w
{
    border-right-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-s
{
    border-top-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-e
{
    border-left-color: @validation-border-color;
}

/* Splitter */
.k-splitbar
{
    background-color: @splitbar-background-color;
}

.k-restricted-size-vertical,
.k-restricted-size-horizontal
{
    background-color: @error-text-color;
}

/* Upload */

.k-file
{
    background-color: @background;
    border-color: @widget-border-color;
}

.k-file-progress
{
    color: @upload-progress-text-color;
}

.k-file-progress .k-progress
{
    background-color: @upload-progress-background-color;
}

.k-file-success
{
    color: @upload-success-text-color;
}

.k-file-success .k-progress
{
    background-color: @upload-success-background-color;
}

.k-file-error
{
    color: @upload-error-text-color;
}

.k-file-error .k-progress
{
    background-color: @upload-error-background-color;
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
}

.k-textbox:hover,
.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

.k-filebrowser .k-tile .k-folder,
.k-filebrowser .k-tile .k-file
{
    background-image: url('@{image-folder}/imagebrowser.png');
    background-size: auto auto;
}

/* TreeMap */

.k-leaf,
.k-leaf.k-state-hover:hover
{
    color: #fff;
}

.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover
{
    color: #000;
}

/* Shadows */
.k-widget,
.k-button
{
    .box-shadow(@widget-shadow);
}

.k-slider,
.k-treeview,
.k-upload
{
    .box-shadow(none);
}

.k-state-hover
{
    .box-shadow(@hover-shadow);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    .box-shadow(@focused-shadow);
}

.k-state-selected
{
    .box-shadow(@selected-shadow);
}

.k-state-active
{
    .box-shadow(@active-shadow);
}

.k-grid td.k-state-selected.k-state-focused
{
    background-color: lighten(@selected-background-color, 3%);
}

.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-calendar-container.k-popup {
    .box-shadow(0 0px 6px 1px @shadow-color);
}

.k-treemap-tile.k-state-hover
{
    .box-shadow(inset 0 0 0 3px @widget-border-color);
}

/* Window */

.k-window
{
    .window-shadow(@shadow-color);
    background-color: @widget-background-color;
}

.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content
{
    border-radius: 0;
}

.k-shadow
{
    .box-shadow(0 1px 2px 0 @shadow-color);
}

.k-inset
{
    .box-shadow(inset 0 1px 1px @shadow-color);
}

/* Selection */
.k-editor-inline {
    .selection(@accent);
}

/* Notification */

.k-widget.k-notification.k-notification-info
{
    background-color: @notification-info-background-color;
    color: @notification-info-text-color;
    border-color: @notification-info-border-color;
}

.k-widget.k-notification.k-notification-success
{
    background-color: @notification-success-background-color;
    color: @notification-success-text-color;
    border-color: @notification-success-border-color;
}

.k-widget.k-notification.k-notification-warning
{
    background-color: @notification-warning-background-color;
    color: @notification-warning-text-color;
    border-color: @notification-warning-border-color;
}

.k-widget.k-notification.k-notification-error
{
    background-color: @notification-error-background-color;
    color: @notification-error-text-color;
    border-color: @notification-error-border-color;
}

/* Gantt */

.k-gantt .k-treelist
{
    background: @alt-background-color;
}

.k-gantt .k-treelist .k-alt
{
    background-color: darken(@alt-background-color, 10%);
}

.k-gantt .k-treelist tr:hover {
    background-color: @hover-background;
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-background-color;
}

.k-gantt .k-treelist .k-alt.k-state-selected:hover,
.k-gantt .k-treelist .k-alt.k-state-selected:hover td
{
    background-color: darken(@selected-background, 4%);
}

.k-task-dot:after
{
    background-color: @widget-text-color;
    border-color: @widget-text-color;
}

.k-task-dot:hover:after
{
    background-color: @active-background-color;
}

.k-task-summary
{
    border-color: @task-summary-color;
    background: @task-summary-color;
}

.k-task-milestone,
.k-task-summary-complete
{
    border-color: @widget-text-color;
    background: @widget-text-color;
}

.k-state-selected.k-task-summary
{
    border-color: @task-summary-selected-color;
    background: @task-summary-selected-color;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete
{
    border-color: @selected-background-color;
    background: @selected-background-color;
}

.k-task-single
{
    background-color: lighten(@event-background-color, 7%);
    border-color: @event-background-color;
    color: @event-text-color;
}

.k-state-selected.k-task-single
{
    border-color: @selected-border-color;
}

.k-line
{
    background-color: @widget-text-color;
    color: @widget-text-color;
}

.k-state-selected.k-line
{
    background-color: @selected-background-color;
    color: @selected-background-color;
}

.k-resource
{
    background-color: @widget-background-color;
}

/* PivotGrid */

.k-i-kpi-decrease,
.k-i-kpi-denied,
.k-i-kpi-equal,
.k-i-kpi-hold,
.k-i-kpi-increase,
.k-i-kpi-open
{
    background-image: url('@{image-folder}/sprite_kpi.png');
}

/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload
{
    border-radius: @main-border-radius;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

.k-toolbar .k-split-button .k-button
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu
{
    border-radius: 0 0 @main-border-radius @main-border-radius;
}

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    border-radius: 0 0 0 @main-border-radius;
}

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    border-radius: 0 0 @main-border-radius @main-border-radius;
}

.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down
{
    border-radius: @main-border-radius @main-border-radius 0 0;
}

.k-split-button.k-state-border-down > .k-button
{
    border-radius: @main-border-radius 0 0 0;
}

.k-split-button.k-state-border-up > .k-button
{
    border-radius: 0 0 0 @main-border-radius;
}

.k-split-button.k-state-border-down > .k-split-button-arrow
{
    border-radius: 0 @main-border-radius 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow
{
    border-radius: 0 0 @main-border-radius 0;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-numeric-wrap .k-link
{
    border-radius: 0 @inner-border-radius 0 0;
}

.k-numeric-wrap .k-link + .k-link
{
    border-radius: 0 0 @inner-border-radius 0;
}

.k-colorpicker .k-selected-color
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-colorpicker .k-selected-color
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-autocomplete.k-state-border-down .k-input
{
    border-radius: @main-border-radius @main-border-radius 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    border-radius: @main-border-radius 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected
{
    background-color: @numeric-selected-background;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}

.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select+.k-select,
.k-list-container.k-state-border-right
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select+.k-select,
.k-rtl .k-list-container.k-state-border-right
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-numeric-wrap.k-expand-padding .k-input
{
    .guarded-border-radius(@main-border-radius);
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap
{
    .guarded-border-radius(@inner-border-radius);
}

.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone
{
    .guarded-border-radius(@list-border-radius);
}

.k-slider .k-button,
.k-grid .k-slider .k-button
{
    border-radius: @slider-border-radius;
}

.k-draghandle
{
    border-radius: @draghandle-border-radius;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link
{
    border-radius: 0 @main-border-radius @main-border-radius 0;
}

.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation
{
    border-radius: @main-border-radius;
}

.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-top-right-radius: @main-border-radius;
    border-bottom-right-radius: @main-border-radius;
}

.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-radius: @main-border-radius 0 0 @main-border-radius;
}

.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link
{
    border-radius: @main-border-radius;
}

.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link
{
    border-radius: @inner-border-radius;
}

.k-scheduler-mobile .k-event
{
    border-radius: @inner-border-radius - 1;
}

/* Adaptive Grid */

.k-grid-mobile .k-column-active + th.k-header
{
    border-left-color: @widget-text-color;
}

html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field
{
    color: @widget-text-color;
}

@media screen and (-ms-high-contrast: active)
              and (-ms-high-contrast: none) {
    div.km-pane-wrapper a
    {
        color: @widget-text-color;
    }
}

.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check
{
    background-color: @widget-background-color;
    border-top: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field textarea
{
    outline-width: 0;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected
{
    background-color: @selected-background-color;
    border-top-color: @selected-border-color;
}

.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child
{
    border-top-color: transparent;
}

.km-pane-wrapper .k-mobile-list .k-item:last-child
{
    .box-shadow(inset 0 -1px 0 @cell-border-color);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child
{
    color: darken(@cell-border-color, 30);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link
{
    border-bottom: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field
{
    .box-shadow(0 1px 1px @cell-border-color);
}

.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]
{
    color: #fff;
    border-color: @error-border-color;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}

.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active
{
    background-color: darken(red, 20);
}

/* /Column Menu */

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-multiselect.k-header
{
    border-color: @drop-down-border-color;
}

.k-multiselect.k-header.k-state-hover
{
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-list-container
{
    color: @drop-down-text-color;
}

.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup
{
    color: @drop-down-text-color;
}

.k-state-default > .k-select
{
    border-color: @drop-down-border-color;
}

.k-state-focused > .k-select
{
    border-color: @drop-down-hover-border-color;
}

.k-state-hover > .k-select
{
    border-color: @drop-down-focused-border-color;
}

.k-tabstrip:focus
{
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link
{
    color: @tabstrip-tabs-color;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar>li.k-state-default>.k-link.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar > li > .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-tabstrip-items .k-state-default,
.k-panelbar .k-tabstrip-items .k-state-default
{
    border-color: @tabstrip-items-border;
}

.k-tabstrip-items .k-state-hover
{
    border-color: @hover-border-color;
}

.k-tabstrip .k-content.k-state-active
{
    background-color: @tabstrip-active-background;
    color: @widget-text-color;
}

.k-menu.k-header,
.k-menu .k-item
{
    border-color: @menu-border-color;
}

.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group
{
    border-color: @secondary-border-color;
}

.k-overflow-container .k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%), 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group
{
    box-shadow: 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-last-visible.k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-column-menu .k-separator
{
    border-color: @secondary-border-color;
    background-color: transparent;
}

.k-menu .k-group
{
    border-color: @group-border-color;
}

.k-grid-filter.k-state-active
{
    background-color: @active-filter-background-color;
}

.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td
{
    color: @secondary-text-color;
    border-color: @secondary-border-color;
    font-weight: bold;
}

.k-grouping-header
{
    color: @secondary-text-color;
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default
{
    border-color: @secondary-border-color;
}

//Primary buttons
.k-primary,
.k-overflow-container .k-primary
{
    color: @primary-button-text-color;
    border-color: @primary-button-border-color;
    .composite-background(@primary-gradient);
    background-position: 50% 50%;
    background-color: @primary-button-background-color;
    .box-shadow(@primary-shadow);
}

.k-primary:focus,
.k-primary.k-state-focused
{
    color: @primary-focused-color;
    border-color: @primary-focused-border-color;
    .composite-background(@primary-focused-gradient);
    .box-shadow(@primary-focused-active-item-shadow);
}

.k-primary:hover
{
    color: @primary-hover-text-color;
    border-color: @primary-hover-border-color;
    .composite-background(@primary-hover-gradient);
    background-color: @primary-hover-background-color;
    .box-shadow(@primary-hover-shadow);
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]),
.k-primary:focus:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@primary-focused-active-item-shadow);
}

.k-primary:active
{
    color: @primary-active-text-color;
    border-color: @primary-active-border-color;
    .composite-background(@primary-active-gradient);
    background-color: @primary-active-background-color;
    .box-shadow(@primary-active-shadow);
}

.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active
{
    color: @primary-disabled-text-color;
    border-color: @primary-disabled-border-color;
    background-color: @primary-disabled-background-color;
    .composite-background(@primary-disabled-gradient);
    .box-shadow(none);
}

// Fix for responsive design
.k-pager-numbers .k-link,
.k-treeview .k-in
{
    border-color: transparent;
}

.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon
{
    background-color: @icon-background-color;
    border-radius: @calendar-border-radius;
}

.k-scheduler-table .k-state-hover .k-icon
{
    background-color: transparent;
}

.k-button:focus,
.k-split-button:focus
{
    outline:none;
}

.k-split-button:focus {
    background-color: @button-active-background;
}

.k-split-button:focus > .k-button {
    background: transparent;
    border-color: @button-active-background;
}

.k-split-button:focus > .k-button.k-split-button-arrow {
    border-left-color: @alt-background-color;
}

.k-editor .k-tool:focus
{
   outline: 0;
   border-color: @button-focused-border-color;
   .box-shadow(@button-focused-shadow);
}


@import "themes/checkbox.less";

@checkbox-border-color: lighten(@normal-text-color, 23%);
@checkbox-border-radius: 1px;
@checkbox-hover-border-color: lighten(@normal-text-color, 23%);
@checkbox-checked-border-color: @accent;
@checkbox-checked-background-color: @accent;
@checkbox-checked-color: saturate(@background, 29%);
@checkbox-active-border-color: lighten(@normal-text-color, 23%);
@checkbox-active-box-shadow: none;
@checkbox-disabled-background-color: contrast(@background, lighten(@background, 20%), darken(@background, 4%), 0.5);
@checkbox-disabled-color: @disabled-text-color;
@checkbox-disabled-border-color: contrast(@background, lighten(@background, 20%), darken(@background, 25%), 0.5);
@checkbox-indeterminate-background-color: @accent;
@checkbox-indeterminate-border-color: @accent;

.k-checkbox + .k-checkbox-label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.k-checkbox:focus + .k-checkbox-label:after {
    box-shadow: 0 0 0 12px fadeout(@hover-background, 70%);
}

.k-checkbox + .k-checkbox-label:active:after {
    box-shadow: 0 0 0 12px fadeout(@hover-background, 70%);
}

.k-checkbox:checked + .k-checkbox-label:active:after {
    box-shadow: 0 0 0 12px fadeout(@accent, 70%);
}

.k-checkbox:disabled + .k-checkbox-label:active:after {
    box-shadow: none;
}

.k-checkbox:indeterminate + .k-checkbox-label:before {
    border-color: @accent;
}

@import "themes/radiobutton.less";

@radio-border-color: lighten(@normal-text-color, 23%);
@radio-border-width: 2px;
@radio-hover-border-color: @radio-border-color;
@radio-checked-background-color: @accent;
@radio-disabled-background-color: lighten(@background, 20%);
@radio-disabled-color: contrast(@background, lighten(@background, 20%), darken(@background, 25%), 0.5);
@radio-disabled-border-color: #bfbfbf;

.k-radio:checked + .k-radio-label:before,
.k-radio:checked + .k-radio-label:hover:before {
    border-color: @radio-checked-background-color;
}

.k-radio + .k-radio-label:active:before {
    border-color: @radio-border-color;
    box-shadow: 0 0 0 12px fadeout(@hover-background, 70%);
}

.k-radio:checked + .k-radio-label:active:before {
    box-shadow: 0 0 0 12px fadeout(@accent, 70%);
}

.k-radio:focus + .k-radio-label:before {
    border-color: @radio-border-color;
    box-shadow: 0 0 0 12px fadeout(@hover-background, 70%);
}


.k-radio:disabled:checked + .k-radio-label:before,
.k-radio:disabled:checked + .k-radio-label:hover:before {
    border-color: @radio-disabled-border-color;
}

.k-radio:disabled:checked + .k-radio-label:active:before {
    box-shadow: none;
}

// Retina sprite
@media only screen and (-webkit-min-device-pixel-ratio: 1.2),
       only screen and (min-device-pixel-ratio: 1.2) {
    .k-icon:not(.k-loading),
    .k-grouping-dropclue,
    .k-drop-hint,
    .k-callout,
    .k-tool-icon,
    .k-state-hover .k-tool-icon,
    .k-state-active .k-tool-icon,
    .k-state-active.k-state-hover .k-tool-icon,
    .k-state-selected .k-tool-icon,
    .k-state-selected.k-state-hover .k-tool-icon,
    .k-column-menu .k-sprite,
    .k-mobile-list .k-check:checked,
    .k-mobile-list .k-edit-field [type=checkbox]:checked,
    .k-mobile-list .k-edit-field [type=radio]:checked {
        background-image: url('@{image-folder}/sprite_2x.png');
        background-size: 340px 336px;
    }
    .k-dropdown-wrap .k-input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input
    {
        border-radius: @inner-border-radius 0 0 @inner-border-radius;
    }

    .k-i-kpi-decrease,
    .k-i-kpi-denied,
    .k-i-kpi-equal,
    .k-i-kpi-hold,
    .k-i-kpi-increase,
    .k-i-kpi-open
    {
        background-image: url('@{image-folder}/sprite_kpi_2x.png');
        background-size: 96px 16px;
    }
}

// High contrast mode
@media screen and (-ms-high-contrast: active) {
    .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
        border-color: #fff;
    }
}




.k-button:hover .k-icon,
.k-tool-icon:hover,
.k-state-hover .k-tool-icon,
.k-state-selected .k-tool-icon,
.k-state-focused .k-tool-icon,
.k-button:hover .k-tool-icon,
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-group-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-group-delete,
.k-grouping-header .k-si-arrow-n,
.k-grouping-header .k-link:hover > .k-icon.k-si-arrow-n,
.k-grouping-header .k-si-arrow-s,
.k-grouping-header .k-link:hover > .k-icon.k-si-arrow-s,
.k-grid-toolbar .k-i-pdf,
.k-grid-toolbar .k-button:hover > .k-i-pdf,
.k-grid-toolbar .k-i-excel,
.k-grid-toolbar .k-button:hover > .k-i-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-toolbar .k-icon,
.k-scheduler-footer .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon,
.k-pivot-configurator-settings .k-icon:hover,
.k-window-titlebar .k-icon
{
    opacity:1;
}

.k-tool-icon,
.k-splitbar .k-icon,
.k-pivot-configurator-settings .k-icon
{
    opacity: @default-icon-opacity;
}

.k-pager-wrap .k-link.k-state-disabled .k-icon {
    opacity: 0.25;
}

.k-button,
.k-button:hover,
.k-button.k-state-hover,
.k-button.k-state-focused,
.k-button:focus,
.k-button:focus:not(.k-state-disabled):not([disabled]) {
    .box-shadow(@focused-shadow);
}

.k-button,
.k-header {
    font-weight: 500;
}

.k-button:active,
.k-button.k-state-active,
.k-button:focus,
.k-button.k-state-focused
{
color: @button-text-color;
background-color: @button-active-background;
border-color: @button-active-background;
}

.k-button:active:hover,
.k-button.k-state-active:hover
{

color: @hover-text-color;
border-color: @button-active-border-color;
background-color: @button-active-background;
.box-shadow(@button-focused-active-shadow);
}

.k-button:hover,
.k-button.k-state-hover,
.k-button:active:hover,
.k-button.k-state-active:hover
{
    color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-primary:active,
.k-primary.k-state-active,
.k-primary:focus,
.k-primary.k-state-focused {
    color: @primary-active-text-color;
    border-color: @primary-active-border-color;
    .composite-background(@primary-active-gradient);
    background-color: @primary-active-background-color;
    .box-shadow(@primary-active-shadow);
}

.k-primary:hover,
.k-primary.k-state-hover,
.k-primary:active:hover,
.k-primary.k-state-active:hover
{
    color: @primary-hover-text-color;
    border-color: @primary-hover-border-color;
    background-color: @primary-hover-background-color;
}

.k-primary:focus:not(.k-state-disabled):not([disabled]),
.k-primary:focus:active:not(.k-state-disabled):not([disabled])
{
    .box-shadow(@primary-active-shadow);
}

.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active
{
    color: @primary-disabled-text-color;
    border-color: @primary-disabled-border-color;
    background-color: @primary-disabled-background-color;
    .composite-background(@primary-disabled-gradient);
    .box-shadow(none);
}

.k-widget .k-button:active,
.k-widget .k-button.k-state-active {
    color: @button-text-color;
    background-color: @button-active-background;
    border-color: @hover-border-color;
}

.k-toolbar .k-overflow-anchor.k-state-active,
.k-toolbar .k-overflow-anchor.k-state-border-down {
    background-color: @active-background-color;
}

.k-widget .k-button:active:hover,
.k-widget .k-button.k-state-active:hover {
    color: @button-hover-text-color;
    border-color: @button-hover-border-color;
    background-color: @button-hover-background-color;
}

.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active,
.k-button.k-state-disabled:active:hover
{
    color: @disabled-text-color;
    border-color: @disabled-border-color;
    background-color: @disabled-background-color;
    .composite-background(@disabled-gradient);
    .box-shadow(none);
}

.k-dropdown .k-state-default
{
    border-color: @button-border-color;
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @button-background-color;
}

.k-dropdown,
span.k-colorpicker {
    background-color: @button-background-color;
}

.k-textbox {
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker {
background-color: @drop-down-background;
}

.k-picker-wrap.k-state-default > .k-select {
border-color: @drop-down-background;
}

.k-datepicker .k-input,
.k-timepicker .k-input {
    background-color: @drop-down-background;
}

.k-autocomplete.k-state-active .k-input,
.k-picker-wrap.k-state-active .k-input,
.k-numeric-wrap.k-state-active .k-input
{
    background-color: @selected-background-color;
}

.k-picker-wrap.k-state-hover > .k-select,
.k-picker-wrap.k-state-focused > .k-select {
    border-color: @select-hover-background-color;
}

.k-picker-wrap.k-state-hover .k-input,
.k-picker-wrap.k-state-focused .k-input {
    background-color: @select-hover-background-color;
}

.k-textbox:hover,
.k-overflow-anchor:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
background-color: @select-background-color;
border-color: @drop-down-hover-border-color;
.box-shadow(@focused-shadow);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
background-color: @hover-background-color;
.composite-background(@hover-gradient);
background-position: 50% 50%;
border-color: @hover-background-color;
.box-shadow(@focused-shadow);
}

.k-numeric-wrap.k-state-focused > .k-select {
    background-color: @hover-background-color;
}

.k-textbox:focus,
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-multiselect.k-header.k-state-active
{
background-color: @select-background-color;
.composite-background(@hover-gradient);
background-position: 50% 50%;
border-color: @drop-down-focused-border-color;
.box-shadow(@focused-shadow);
}

.k-autocomplete.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled .k-input,
.k-numeric-wrap.k-state-disabled .k-select,
.k-dropdown-wrap.k-state-disabled,
.k-multiselect.k-header.k-state-disabled
{
background-color: @drop-down-background;
}

.k-numeric-wrap.k-state-disabled .k-select {
    border-color: @drop-down-background;
}

.k-numerictextbox .k-select {
background-color: @widget-background-color;
border-color: @widget-background-color;
}

.k-list > .k-state-selected.k-state-focused {
.box-shadow(none);
color: @selected-text-color;
}

.k-list > .k-state-selected {
    .box-shadow(none);
}

.k-list > .k-state-focused {
    border-color: transparent;
    .box-shadow(none);
}

.k-list>.k-state-hover,
.k-list>.k-state-selected.k-state-hover
{
background-color: @hover-background-color;
border-color: @hover-background-color;
}

.k-list-container
{
border-color: @form-widgets-border-color;
}

.k-grid td.k-state-focused.k-state-selected
{
.box-shadow(@focused-item-shadow);
}

.k-calendar td.k-state-focused,
.k-calendar td.k-state-selected.k-state-focused {
    .box-shadow(@focused-item-shadow);
}

.k-calendar td.k-state-selected {
    background-color: @selected-background;
    .box-shadow(none);
}

.k-calendar td.k-state-selected.k-state-hover {
    background-color: darken(@selected-background, 4%);
}

.k-calendar .k-state-selected > .k-link {
    color: @base;
}

/* Calendar */
.k-calendar .k-header .k-link {
color: @primary-button-text-color;
}

.k-calendar .k-footer {
border-color: @widget-border-color;
}

.k-calendar td {
border-radius: @calendar-border-radius;
}

.k-calendar .k-content th {
background-color: @widget-background-color;
}

.k-calendar .k-header .k-state-hover {
background-color: @secondary-header-background-color;
}

.k-calendar .k-footer .k-nav-today {
    color: @header-background-color;
}

.k-calendar .k-nav-fast.k-state-hover {
border-radius: 0;
}

.k-calendar .k-today {
    background-color: @accent;
}

.k-calendar .k-today .k-link {
    color: @base;
}

.k-calendar .k-today.k-state-hover {
    background-color: contrast(@background, darken(@accent, 10%), softlight(@accent, #b9b9b9), .5);
}

.k-calendar .k-today:active {
    box-shadow: inset 0 0 0 1px contrast(@background, darken(@accent, 15%), softlight(@accent, #b9b9b9), .5);
}

.k-calendar .k-link.k-state-hover,
.k-window-titlebar .k-link
{
.box-shadow(none);
}

.k-window-titlebar .k-state-hover {
    background-color: @secondary-hover-background-color;
    border-color: @secondary-hover-background-color;
}

/* TabStrip */
.k-tabstrip > .k-tabstrip-items > .k-item {
    border-radius: 0;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
background-color: @header-background-color;
.composite-background(@active-gradient);
border-bottom-color: @selected-background;
}

.k-tabstrip .k-content.k-state-active {
    border-color: transparent;
}

.k-tabstrip-items .k-item.k-state-hover
{
background: @secondary-hover-background-color;
border-color: @secondary-hover-background-color;
}

.k-tabstrip-items .k-state-hover .k-link {
color: @header-text-color;
}

/* Menu */
.k-group,
.k-flatcolorpicker.k-group,
.k-menu,
.k-menu .k-group,
.k-popup.k-widget.k-context-menu {
color: @widget-text-color;
background-color: @widget-background-color;
}

.k-menu .k-group,
.k-popup.k-context-menu.k-group {
border-color: @widget-border-color;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
.box-shadow(none);
}

.k-menu .k-state-active,
.k-popup.k-context-menu.k-group .k-state-hover {
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

/* Toolbar */
.k-toolbar {
background-color: @drop-down-background;
border-color: @panelbar-items-border;

    .k-toggle-button {
        &:focus {
            background-color: transparent;
            border-color: contrast(@background, darken(@base, 30%), lighten(@base, 30%), 0.5);
        }

        &:hover {
            background-color: @hover-background-color;
        }

        &.k-state-active {
            color: @base;
            background-color: @accent;
            border-color: @accent;

            &:focus {
                background-color: @accent;
                border-color: darken(@accent, 15%);
            }

            &:hover {
                color: #fff;
                background-color: darken(@accent, 10%);
                border-color: darken(@accent, 10%);
            }
        }
    }
}

.k-toolbar .k-button {
    .box-shadow(none);
}

.k-grid .k-header .k-button,
.k-scheduler .k-header .k-button,
.k-scheduler .k-header li,
.k-scheduler .k-header .k-link,
.k-gantt > .k-header li,
.k-gantt > .k-header .k-link,
.k-gantt-toolbar .k-button,
.km-pane-wrapper .k-header .k-button {
color: @header-text-color;
background-color: @header-background-color;
border-color: @header-background-color;
.box-shadow(none);
}

.k-grid .k-header .k-button:hover,
.k-scheduler .k-header .k-button:hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-button:hover,
.km-pane-wrapper .k-header .k-button:hover
{
background-color: @secondary-hover-background-color;
border-color: @secondary-hover-background-color;
}

.km-pane-wrapper .k-header .k-button:active:hover {
    color: @header-text-color;
}

.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-gantt-toolbar .k-button{
background-color: @header-background-color;
border-color: @header-background-color;
}

.k-gantt .k-gantt-toolbar .k-button:active {
    background: @select-background-color;
    .box-shadow(none);
}

.k-gantt-toolbar > .k-gantt-views > li.k-state-selected,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected {
    border-bottom-color: @selected-background;
}

.k-scheduler-mark {
    border-radius: 50%;
}

/* Grid */
.k-grid .k-alt {
    background-color: @widget-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
color: @widget-text-color;
background-color: @alt-background-color;
}

.k-grouping-header .k-group-indicator,
.k-pivot-toolbar .k-button {
color: @header-text-color;
background-color: @secondary-header-background-color;
border-color: @secondary-header-background-color;
.box-shadow(none);
}

.k-grid-header,
.k-grid-header .k-header,
.k-pager-wrap,
.k-pager-numbers .k-state-selected,
.k-grid-footer,
.k-grid-footer td,
.k-scheduler-header,
.km-pane-wrapper .k-grid-header .k-header {
color: @widget-text-color;
background-color: @secondary-background-color;
}

.k-header.k-scheduler-footer .k-header,
.k-header.k-scheduler-footer ul.k-header li .k-link{
    color: @selected-background;
    background-color: @secondary-background-color;
}

.k-header.k-scheduler-footer ul.k-header li {
    background-color: @secondary-background-color;
    border-color: @secondary-background-color;
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-gantt-toolbar .k-state-default,
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
    border-color: @widget-border-color;
}

.k-group-footer td,
.k-footer-template td,
.k-fieldselector .k-item.k-header {
    color: @widget-text-color;
    background-color: @alt-background-color;
}

.k-grid .k-grouping-header {
    color: @secondary-header-color;
}

.k-pager-wrap,
.k-editor-toolbar {
color: @widget-text-color;
}

.k-grouping-header .k-link,
.k-grouping-header .k-link:link {
color: @header-text-color;
}

.k-scheduler-layout .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused,
.k-marquee-color,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-listview > .k-state-selected,
.k-state-selected.k-line {
background-color: @selected-background;
}

.k-state-selected.k-line
{
    color: @selected-background;
}

.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-listview > .k-state-selected,
.k-state-selected .k-progress-status {
color: @base;
}

.k-grid tr:hover {
    background-color: @hover-background;
}

.k-pivot-rowheaders .k-grid tr:hover {
    background: none;
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
    border-color: darken(@selected-background, 10%);
}

.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
    background-color: darken(@selected-background, 4%);
}

.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-pager-info,
.k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
color: @primary-disabled-text-color;
}

.k-gantt {
    .k-task-draghandle {
        border-color: @selected-background;
    }
}

.k-grid-pager .k-link,
.k-grid-pager .k-link:link {
    color: @widget-text-color;
}

.k-pager-numbers .k-link,
.k-pager-wrap > .k-link {
border-radius: 0;
}

.k-pager-numbers .k-state-selected {
border-color: @selected-text-color transparent transparent;
border-radius: 0;
.box-shadow(none);
color: @selected-text-color;
}

.k-pager-wrap .k-link {
border-color: @secondary-background-color;
cursor: pointer;
}

.k-pager-wrap .k-link:hover {
    background-color: transparent;
    border-color: transparent;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link,
.k-gantt-toolbar li:first-child,
.k-gantt-toolbar li:first-child > .k-link,
.k-gantt-toolbar li:last-child,
.k-gantt-toolbar li:last-child > .k-link {
border-radius: 0;
}

.k-grid,
.k-panelbar,
.k-notification,
.k-popup .k-textbox:focus,
.k-popup  .k-autocomplete.k-state-focused,
.k-popup  .k-picker-wrap.k-state-focused,
.k-popup  .k-numeric-wrap.k-state-focused,
.k-popup  .k-dropdown-wrap.k-state-focused,
.k-popup .k-multiselect.k-header.k-state-focused,
.k-popup .k-textbox:hover,
.k-popup .k-autocomplete.k-state-hover,
.k-popup .k-picker-wrap.k-state-hover,
.k-popup .k-numeric-wrap.k-state-hover,
.k-popup .k-dropdown-wrap.k-state-hover
{
.box-shadow(none);
}

/* PanelBar */
.k-panelbar,
.k-panelbar .k-header,
.k-panelbar .k-content,
.k-panel > li.k-item,
.k-panelbar .k-state-selected {
background-color: @secondary-background-color;
}

.k-panelbar .k-grid-toolbar {
    background-color: @header-background-color;
}

.k-panelbar > li.k-state-default > .k-link {
color: @widget-text-color;
}

.k-panelbar > li >.k-state-hover {
background-color: @hover-background-color;
}

.k-panelbar > .k-item > .k-link,
.k-panelbar.k-header,
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
border-color: @panelbar-items-border;
}

/* Splitter */
.k-splitbar {
    border-color: @button-border-color;
}

.k-splitbar.k-state-focused {
background-color: @primary-button-background-color;
border-color: @primary-button-border-color;
.box-shadow(none);
}

/* Upload */
.k-upload {
color: @widget-text-color;
background-color: @widget-background-color;
}

.k-upload-files .k-button {
    .box-shadow(none);
}

/* Gantt */
.k-task-milestone,
.k-task-summary-complete,
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
background-color: @header-background-color;
border-color: @header-background-color;
}

.k-task-single
{
background-color: lighten(@selected-background, 20%);
}

.k-task-complete
{
background: @selected-background 0 -257px @tooltip-texture repeat-x;
}

.k-treelist .k-state-selected,
.k-treelist .k-state-selected td,
.k-treelist .k-alt.k-state-selected,
.k-treelist .k-alt.k-state-selected > td
{
background-color: @selected-background;
border-color: @selected-background;
}

.k-multiselect .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button,
.k-group-indicator .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-toolbar .k-button:active:hover,
.k-toolbar .k-button.k-state-active:hover
{
    .box-shadow(none);
}

.k-multiselect .k-button:active:hover {
    color: @widget-text-color;
    background-color: @button-active-background;
    border-color: @button-active-background;
}

.k-multiselect-wrap > ul > .k-button {
    .box-shadow(none);
}

/* Editor */
table.k-editor {
    border-color: @widget-border-color;
}

.k-editor.k-header,
.editorToolbarWindow.k-header,
.k-filebrowser .k-header {
    background-color: @alt-background-color;
    .box-shadow(none);
}

.k-filebrowser .k-header {
    color: @widget-text-color;
}

.k-editor-toolbar .k-tool,
.k-group-start.k-group-end.k-tool {
    border-color: @alt-background-color;
}

.k-treeview .k-state-selected,
.k-treeview .k-state-focused,
.k-editor-toolbar .k-dropdown,
.k-panelbar > li > .k-state-focused {
    .box-shadow(none);
}

.k-treeview .k-state-focused,
.k-panelbar > li > .k-state-focused {
    background-color: @hover-background-color;
}

.k-editor-toolbar .k-dropdown-wrap.k-state-default,
.k-toolbar .k-dropdown-wrap.k-state-default
{
    border-color: @alt-background-color;
}

.k-editor-toolbar .k-tool.k-state-hover,
.k-editor-toolbar .k-dropdown-wrap.k-state-hover,
.k-toolbar .k-tool.k-state-hover,
.k-toolbar .k-dropdown-wrap.k-state-hover
{
    color: @hover-text-color;
    border-color: @hover-border-color;
    .box-shadow(none);
}

.k-editor-toolbar .k-tool.k-state-selected,
.k-toolbar .k-button-group .k-button.k-state-active {
    .box-shadow(none);
    background-color: @button-active-background;
    border-color: @button-active-background;
}

.k-editor-toolbar .k-tool.k-state-hover,
.k-toolbar .k-button-group .k-button:hover {
    background-color: @hover-background-color;
    border-color: @hover-background-color;
}

/* Progressbar */
.k-progressbar {
    background-color: @button-background-color;
    border-color: @button-border-color
}

.k-progressbar .k-item,
.k-progressbar .k-item.k-state-selected {
    border-color: @widget-background-color;
}

.k-progressbar .k-state-selected {
    background-color: @primary-button-background-color;
    border-color: @primary-button-border-color;
}

.k-widget.k-tooltip-validation {
    .box-shadow(none);
}

/* Pivot Grid */
.k-grid.k-alt {
    background-color: @secondary-background-color;
}

.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
   background-color: @alt-background-color
}

.k-list > .k-state-hover,
.k-list > .k-state-focused {
    color: @widget-text-color;
    background-color: @hover-background-color;
    border-color: @hover-background-color;
}

/* Slider */
.k-slider-track
{
    background-color: @secondary-border-color;
    .box-shadow(none);
}

.k-slider-selection
{
    background-color: @primary-button-background-color;
    border-color: @primary-button-border-color;
}

.k-slider .k-button,
.k-slider .k-button.k-state-hover,
.k-slider .k-button:active:hover,
.k-slider .k-button:focus,
.k-slider .k-button:active {
    background: none;
    border: none;
    .box-shadow(none);
}

.k-draghandle,
.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
    .box-shadow(none);
}

.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected
{
   background-color: @draghandle-selected-background;
   border-color: @draghandle-selected-background;
}

.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-focused,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-focused
{
    .box-shadow(none);
    border-color: @draghandle-background-color;
    background-color: @draghandle-background-color;
}

.k-edit-form-container .k-edit-buttons {
    background-color: @secondary-background-color;
}

.k-popup .k-button,
.k-popup .k-button:active:hover {
    .box-shadow(none);
}

.k-edit-form-container .k-button,
.k-popup .k-button,
.k-popup .k-primary:active,
.k-popup .k-primary:active:hover,
.k-edit-form-container .k-primary:active {
    color: @widget-text-color;
    background-color: @secondary-background-color;
    border-color: @secondary-background-color;
    .box-shadow(none);
}

.k-popup .k-primary,
.k-edit-form-container .k-primary {
    color: @selected-background;
    background-color: @secondary-background-color;
    border-color: @secondary-background-color;
}

.k-split-wrapper .k-button,
.k-overflow-container .k-button,
.k-filter-menu .k-button {
   background: transparent;
   border-color: transparent;
}

.k-split-wrapper .k-button,
.k-overflow-container .k-button {
    text-transform: none;
}

.k-split-wrapper .k-button:hover,
.k-overflow-container .k-button:hover {
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-split-wrapper .k-button:focus,
.k-overflow-container .k-button:focus,
.k-split-wrapper .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-overflow-container .k-button:focus:not(.k-state-disabled):not([disabled]) {
    color: @accent;
    .box-shadow(none);
}

.k-filter-menu .k-button {
   background: transparent;
   border-color: transparent;
}

.k-filter-menu .k-primary {
    border-left-color: @drop-down-border-color;
}

.k-filter-menu > div > div:last-child {
    border-color: @drop-down-border-color;
}

.k-popup .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-edit-form-container .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    .box-shadow(none);
}

.k-edit-form-container .k-scheduler-delete {
    color: @selected-background;
}

div.k-scheduler-marquee:before,
div.k-scheduler-marquee:after {
    border-color: @selected-background;
}

.km-pane-wrapper > .km-pane > .km-view > .km-content {
    color: @header-background-color;
    background-color: @header-text-color;
}

.km-pane-wrapper > .km-pane .km-content .k-mobile-list > ul > li > .k-link {
    color: @header-background-color;
}

.k-popup.k-context-menu {
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-drag-clue
{
    color: @widget-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
    .box-shadow(@focused-item-shadow);
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    color: @widget-text-color;
}

.k-popup .k-item > .k-group
{
    color: @widget-text-color;
}

/* Responsive styles */
@media only screen and (max-width: 370px) {
    .k-webkit .k-pager-refresh,
    .k-ff .k-pager-refresh,
    .k-ie11 .k-pager-refresh,
    .k-safari .k-pager-refresh {
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    .k-webkit .k-pager-refresh,
    .k-ff .k-pager-refresh,
    .k-ie11 .k-pager-refresh,
    .k-safari .k-pager-refresh {
        margin-right: 0;
    }
}

@media only screen and (max-width: 530px) {
    .k-webkit .k-pager-sizes,
    .k-ff .k-pager-sizes,
    .k-ie11 .k-pager-sizes,
    .k-safari .k-pager-sizes {
        display: none;
    }
}

@media only screen and (max-width: 687px) {
    .k-webkit .k-pager-info,
    .k-ff .k-pager-info,
    .k-ie11 .k-pager-info,
    .k-safari .k-pager-info {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {

    .k-scheduler-toolbar > ul.k-scheduler-views {
        right: 13px;
        top: 0;
    }

    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {
        /* Responsive Scheduler */

        .k-scheduler-toolbar > ul.k-scheduler-views {
            right: 13px;
            top: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: transparent;
            border-color: transparent;
            border-radius: @main-border-radius;
            text-align: right;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }

        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
            border-color: transparent;
            .composite-background(@hover-gradient);
            background-color: transparent;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
            color: @header-text-color;
            min-width: 20px;
        }

        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 1.333em;
            height: 1.333em;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
            border-width: 1px;
            border-style: solid;
            border-color: transparent; /*@secondary-border-color*/
            background-image: none;
            background-color: @header-background-color;
            border-radius: @main-border-radius;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        /* Responsive Pager */

        .k-pager-wrap {
            min-height: 2.56em;
        }

        .k-pager-wrap .k-pager-nav,
        .k-pager-input {
            display: inline-block;
            vertical-align: top;
        }

        .k-pager-numbers,
        .k-grid .k-pager-numbers {
            position: absolute;
            left: 5.6em;
            display: inline-flex;
            flex-direction: column-reverse;
            overflow: visible;
            height: auto;
        }

        .k-pager-numbers.k-state-expanded,
        .k-grid .k-pager-numbers.k-state-expanded {
            transform: translatey(-100%);
        }

        .km-pane-wrapper .k-pager-numbers,
        .km-pane-wrapper .k-grid .k-pager-numbers {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0%);
            -webkit-transform: translate(-50%, 0%);
        }
        .km-pane-wrapper .k-pager-numbers.k-state-expanded,
        .km-pane-wrapper .k-grid .k-pager-numbers.k-state-expanded {
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
        }

        .km-pane-wrapper .k-pager-numbers .k-link,
        .km-pane-wrapper .k-pager-numbers .k-state-selected,
        .km-pane-wrapper .k-pager-wrap > .k-link,
        .km-pane-wrapper .k-pager-wrap > .k-pager-info {
            padding-top: 0;
            padding-bottom: 0;
        }

        .k-rtl .k-pager-numbers,
        .k-rtl .k-grid .k-pager-numbers
        {
            right: 5.6em;
            width: 5.15em;
        }

        .k-pager-numbers .k-current-page,
        .k-grid .k-pager-numbers .k-current-page {
            display: block;
            border-left: 0;
        }

        .k-pager-numbers li:not(.k-current-page) {
            display: none;
        }

        .k-pager-numbers .k-current-page .k-link {
            width: 3.8em;
            line-height: 2.564em;
            padding: 0 .429em 0 0.8em;
            border-radius: @main-border-radius;
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border: 1px solid transparent;
            border-top: 0;
            .box-shadow(0 2px 2px 0 @drop-down-background);
        }

        .k-pager-numbers .k-current-page:hover .k-link {
            border-radius: @main-border-radius;
            background-color: @widget-background-color;
            border: 1px solid @form-widgets-border-color;
            border-top: 0;
            .box-shadow(@focused-shadow);
        }

        .k-pager-numbers .k-current-page .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.6em;
            right: 0.6em;
            width: 1.333em;
            height: 1.333em;
            background-position: 0 -30px;
        }

        .k-pager-numbers + .k-link {
            margin-left: 5.4em;
        }

        .k-rtl .k-pager-numbers + .k-link {
            margin-right: 5.4em;
            margin-left: 0;
        }

        .k-pager-wrap .k-pager-numbers .k-state-selected,
        .k-pager-wrap .k-pager-numbers .k-link {
            display: block;
            margin-top: 0;
            margin-right: 0;
            padding: 1px 5px 1px .8em;
            text-align: left;
            border-top: 0;
            .guarded-border-radius(@list-border-radius);
        }

        .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover {
            background-color: @hover-background-color;
        }


        .k-pager-numbers.k-state-expanded {
            box-sizing: border-box;
            padding: 2px 0 0;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @form-widgets-border-color; /*@secondary-border-color*/
            background-color: @widget-background-color;
            border-radius: @main-border-radius @main-border-radius 0 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        .k-pager-numbers.k-state-expanded .k-current-page {
            margin: -2.2em -1px 0;
            padding: 0;
        }

        .k-pager-numbers.k-state-expanded .k-current-page .k-link {
            border-radius: 0 0 @main-border-radius @main-border-radius;
            background-color: @widget-background-color;
            border: 1px solid @form-widgets-border-color;
            border-top: 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        .k-pager-numbers.k-state-expanded li {
            display: inline-block;
        }

        .k-gantt-toolbar > ul.k-gantt-views {
            top: 0;
        }
    }
}

@media only screen and (max-width: 755px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {
        .k-pager-info {
            display: none;
        }
    }
}

@media only screen and (max-width: 572px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-safari {
        .k-pager-sizes {
            display: none;
        }
    }
}
/* Default Theme */

.k-chart .k-mask {
    background-color: @background;
    filter: alpha(opacity=68);
    opacity: 0.68;
}

.k-chart .k-selection {
    border-color: #e5e5e5;
}

.k-chart .k-handle {
    width: 15px;
    height: 15px;
    background-color: contrast(@background, @selected-text-color, @selected-background, 0.5);
    border-radius: 10px;
}

.k-chart .k-leftHandle {
    left: -8px;
}

.k-chart .k-rightHandle {
    right: -8px;
}

.k-chart .k-handle:hover {
    background-color: @selected-background;
    border-color: @selected-background;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-chart .k-navigator-hint .k-scroll {
    background: @accent;
    height: 4px;
}

.k-chart-tooltip {
    background-image: none;
}

/* Map */

.k-map .k-marker {
    background-image: url("@{image-folder}/markers.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.2), only screen and (min-device-pixel-ratio: 1.2) {
    .k-map .k-marker {
        background-image: url("@{image-folder}/markers_2x.png");
    }
}

.k-map .k-attribution {
    color: #666666;
}

.k-map .k-shadow {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.k-map .k-zoom-control {
    border-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.k-map .k-map-controls .k-button {
    box-shadow: none;
}

.k-map .k-map-controls .k-button:focus,
.k-map .k-map-controls .k-button:active,
.k-map .k-map-controls .k-button:focus:active {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    box-shadow: none;
}

.k-buttons-horizontal .k-zoom-out {
    border-radius: 0 2px 2px 0;
}

.k-buttons-horizontal :first-child
{
    border-radius: 2px 0 0 2px;
}

.k-rtl .k-buttons-horizontal .k-zoom-out
{
    border-radius: 2px 0 0 2px;
}

.k-rtl .k-buttons-horizontal :first-child
{
    border-radius: 0 2px 2px 0;
}

.k-button-wrap .k-button {
    font-size: 21px;
    padding: 7px 13px;
}

@import "themes/spreadsheet.less";

@spreadsheet-header-background: @background;
@spreadsheet-pane-border: darken(@background, 20%);
@spreadsheet-cell-border: darken(@background, 10%);

@active-header-text: contrast(@accent);
@inactive-header-text: screen(@accent, #808080);
@header-element-hover: multiply(@accent, #ccc);

.k-spreadsheet {
    .k-spreadsheet-quick-access-toolbar,
    .k-spreadsheet-sheets-bar {
        .k-button {
            box-shadow: none;
            color: @active-header-text;
            border-radius: 0;
            line-height: 2.6em;
            width: 3em;

            &:hover {
                background-color: @header-element-hover;
                border-color: @header-element-hover;
            }
        }
    }

    .k-spreadsheet-sheets-bar .k-button {
        left: 0;
        bottom: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        line-height: 2.2em;
    }

    .k-spreadsheet-sheets-remove {
        margin: 0 0 0 -1em;
    }
}

.k-spreadsheet-sheets-items,
.k-spreadsheet-tabstrip {
    .k-state-default .k-link {
        color: @inactive-header-text;
    }

    .k-item.k-state-hover,
    .k-item.k-state-active,
    .k-item.k-state-focused {
        background-color: transparent;

        .k-link {
            color: @active-header-text;
        }
    }

    .k-state-active .k-link {
        color: @active-header-text;
    }
}

.k-spreadsheet-toolbar {
    > .k-button:not(.k-overflow-anchor) {
        line-height: 2em;
    }
}

@spreadsheet-page-orientation-border-color: @widget-border-color;
