<div ng-cloak>
    <div class="row">
    <div ng-switch="vm.isAuthenticated()">
	    <div ng-switch-when="false">
	        <div style="text-align: center;">
	            <span class="hipster img-responsive img-rounded"></span><br>
	        </div>
	     </div>   
	    
	        <div style="text-align: center;">
				<div ng-switch-when="true">
				Bem-vindo, {{vm.account.firstName}}
		            <h3 style="text-align: center; font-family: sans-serif;"></h1>
					<br>
				</div>
					<div ng-switch-when="true">              
		                <div class="col-lg-6 col-sm-12" has-authority="GRAFICOS_GERENCIA">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <strong>Porcentagem Meta dos Times</strong> - (Mensal)
						    </div>
							<div class="panel-body" id="chart-gauge"></div>
						  </div>
						</div>
		                <div class="col-lg-6 col-sm-12" has-authority="GRAFICOS_VENDAS">
						  <div class="panel panel-default">
						    <div class="panel-heading" has-authority="GRAFICOS_CORRETOR">
						      <strong>Porcentagem concluída da sua Meta e dos outros corretores</strong> - (Mensal)
						    </div>
						    <div class="panel-heading" has-authority="GRAFICOS_SUPERVISOR">
						      <strong>Porcentagem concluída dos seus corretores</strong> - (Mensal)
						    </div>
							<div class="panel-body" id="chart-gauge-supervisao"></div>
						  </div>
						</div>												
																		
						<button type="button" id="renovar" class="btn btn-success" style="display: none" ng-click="ReloadChart();">Reload</button>
	                	<div class="col-lg-6 col-sm-12" has-authority="GRAFICOS_GERENCIA">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <strong>Aproveitamento Geral dos Leads</strong> - (Semestral)
						    </div>
						    <div class="panel-body">
						      <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-legend="true" chart-series="series2" chart-click="onClick" chart-colours="colours"></canvas> 
						    </div>
						  </div>
						</div>						
		                <div class="col-lg-6 col-sm-12" has-authority="GRAFICOS_GERENCIA">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <strong>Leads vendidos por Tipo de Plano</strong> - (Mensal)
						    </div>
						    <div class="panel-body" id="chart-tipoPlanos"></div>
						  </div>
						</div>
		                <div class="col-lg-6 col-sm-12">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <strong>Ranking Geral Vendedores</strong> - (Semestral)
						    </div>
						    <div class="panel-body" id="chart-top-vendedores"></div>	
						  </div>
						</div>						
		                <div class="col-lg-12 col-sm-24" has-authority="GRAFICOS_GERENCIA">
						  <div class="panel panel-default">
						    <div class="panel-heading" >
						      <strong>Performance dos Times e seus Corretores</strong> - (Mensal)
						    </div>
						    <div class="panel-body" id="chart-container"></div>
						  </div>
						</div>
		                <div class="col-lg-12 col-sm-24" has-authority="GRAFICOS_SUPERVISOR">
						  <div class="panel panel-default">
						    <div class="panel-heading" >
						      <strong>Performance do seu Time</strong> - (Mensal)
						    </div>
						    <div class="panel-body" id="chart-container-supervisao"></div>
						  </div>
						</div>						
					</div>					
	        </div>
        </div>
    </div>
</div>
